{% extends 'base.html' %}
{% block navbar %}
{% block title %}
    <title>Avaliação</title>
{% endblock %}
{% block navtitle %}
<b class="title">Avaliação de Equipe</b>
{% endblock %}

<div id="page-content">


        <h1 class="content h1">Sistema de Avaliação</h1>
        
        <h3 style="text-align: center; padding-left: 10%; padding-right: 10%;">
            Agora que você tem domínio para utilizar a Metodologia Scrum no dia a dia, essa página te permitirá avaliar sua equipe. 
        </h3>
        <br><br>
        <form method="POST">
            <div class="row">
                <div class="box_teste">


                    <h1>Desempenho Coletivo </h1>
                    <table>
                        <tr>
                            <td>
                                <h2> Processo </h2>
                            </td> 
                            <td>    
                                <h2> Produto </h2>
                            </td>
                            <td>
                                <h2> Connhecimento </h2>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" max="10" min="0" name="dg1" value="0">
                            </td>
                            <td>
                                <input type="number" max="10" min="0" name="dg2" value="0">
                            </td>
                            <td>
                            <input type="number" max="10" min="0" name="dg3" value="0"0>
                            </td>                                        
                        </tr>
                        <tr>
                            <td>
                                <h1> Media Coletiva: </h1>
                            </td>
                            <td> 
                                <h1>{% print(media1) %}</h1>
                            </td> 
                        </tr>
                    </table>
                    <hr>
                        <h1> Desempenho das Funções </h1>
                        <table>
                            <tr>
                                <td>
                                    <h2> Scrum Master </h2>
                                </td> 
                                <td>    
                                    <h2> Product Owner </h2>
                                </td>
                                <td>
                                    <h2> Dev Team </h2>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="number" max="10" min="0" name="de1" value="0">
                                </td>
                                <td>
                                    <input type="number" max="10" min="0" name="de2" value="0">
                                </td>
                                <td>
                                <input type="number" max="10" min="0" name="de3" value="0">
                                </td>                                        
                            </tr>
                            <tr>
                                <td>
                                    <h1> Media das Funções: </h1>
                                </td>
                                <td> 
                                    <h1>{% print(media2) %}</h1>
                                </td> 
                            </tr>
                        </table>
                        <br>
                    </div>
                </div>
                
                <button type="submit" name="bot2" id="btn_exame_sel"><span id="txt_btn_exame">Calcular Médias</span></button>
    </form>
</div>
    <script>
        const toggleButton = document.getElementById('sidebar-toggle');
        const sideBar = document.getElementById('sidebar');
        const pageContent = document.getElementById('page-content');

        toggleButton.addEventListener('click', ()=>{sideBar.classList.toggle('open')});
        pageContent.addEventListener('click', ()=>{sideBar.classList.remove('open')})
    </script>

</body>
</html>

{% endblock %}