{% extends 'base.html' %}
{% block navbar %}
{% block title %}
<title> Artefatos do Scrum </title>
{% endblock %}
{% block navtitle %}
    <b class="title">Capítulo 4</b>
{% endblock %}
<div id="page-content">
        <div class="links">
            <a href="#PB">Product Backlog</a>
            <a href="#SB">Sprint Backlog</a>
            <a href="#BC">Burndown Chart</a>
        </div>
    <div class="banner">
        <h1>ARTEFATOS DO SCRUM</h1>
    </div>
    <div class="content">

        <div id="Scrum">
            <h1 class="content h1">Introdução</h1>
            <h3 class="content h3">Trazendo transparência e coordenação para o desenvolvimento do produto. </h3>
            &nbsp  &nbsp  &nbsp  &nbsp O Scrum possui alguns artefatos que dão uma visão do andamento do projeto e das Sprints. Os artefatos
            de Scrum são:
            <ul>
                <li>Product Backlog</li>
                <li>Sprint Backlog</li>
                <li>Product Increment</li>
                <li>Definition of Done</li>
                <li>Burndown Charts</li>

            </ul>
        </div>

    </div>
    <hr>
    <div class="content">

        <div id="Scrum">
            <h1 id="PB" class="content h1">Product Backlog</h1>
            <h3 class="content h3">"Agregando mais valor ao produto."</h3>
            &nbsp  &nbsp  &nbsp  &nbsp <b>Product Backlog</b> é uma lista de itens priorizados que descrevem as <b>funcionalidades</b> e <b>requisitos</b> de um produto a ser desenvolvido em metodologias ágeis de desenvolvimento de software, como o
            <b>Scrum.</b> 
            <br>
            Cada item é descrito por meio de <b>user stories</b>, que são narrativas curtas e simples que
            descrevem o que o usuário deseja e o que o produto deve fazer para atender a essa necessidade.
            
            <br><br>

            &nbsp  &nbsp  &nbsp  &nbsp  As <b>user stories</b> podem ser alteradas durante o projeto, já que a <b>metodologia ágil</b> prevê a adaptação
            às mudanças e necessidades do cliente. 
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp Por isso, o <b>Product Backlog</b> é considerado um documento <b>vivo
            e dinâmico</b>, que pode ser atualizado a qualquer momento de acordo com as mudanças de prioridades
            e necessidades do cliente. 
            <br>

            Essa flexibilidade permite que o produto final atenda de forma mais
            eficiente às <b>necessidades</b> e expectativas do cliente

            <br><br>

            &nbsp  &nbsp  &nbsp  &nbsp Além disso, é importante ressaltar que o <b>Product Owner</b> é responsável por gerenciar o <b>Product
            Backlog</b> e garantir que as alterações sejam feitas de forma estratégica e organizada, levando em
            consideração o <b>impacto</b> das mudanças nas entregas e no prazo do projeto.
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp O objetivo é manter o
            <b>Product Backlog</b> sempre atualizado e alinhado com a visão e estratégia do produto, garantindo que o
            produto atenda às necessidades do cliente de forma eficaz.

            <h1 id="PB" class="content h1">Na prática:</h1>

            &nbsp  &nbsp  &nbsp  &nbsp <b>Retomando</b> o contexto de projeto do desenvolvimento de um <b>aplicativo</b>fictício de entregas apresentado no capítulo anterior, o <b>product</b> backlog faz-se um <b>ferramenta fundamental</b> para o Product Owner, a fim de documentar as user stories e listar todas as <b>funcionalidades</b> que serão desenvolvidas durante o percurso do projeto.
            O documento é atualizado periodicamente, acrescentando novos <b>requisitos</b> solicitados pelo <b>cliente</b> e classificando seu nível de prioridade e respectiva sprint como no exemplo abaixo: 

            <br><br><br>

        <table>
    <tr>
    <th><b>User Story</b></th>
    <th><b>Prioridade</b></th>
    <th><b>Sprint</b></th>
    <th><b>Esforço Estimado</b></th>
    </tr>
    <tr>
    <td>Eu, enquanto cliente, desejo uma função de visualizar a localização dos meus pedidos em tempo real, para ter uma estimativa do tempo restante de entrega.</td>
    <td>Essencial</td>
    <td>2</td>
    <td>21 horas</td>   
    </tr>
       </table>
        </div>
    </div>

    <div class="content">
        <div>
            <br><br><br><br><br>
            <img id="img" src="../static/imagens/productbacklog.png">
        </div>
        
        <div id="Scrum">
            <h1 id="PB" class="content h1">Definition of Done</h1>
            <h3 class="content h3">"Trazendo consistência &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp e metas."</h3>
            &nbsp  &nbsp  &nbsp  &nbsp O Scrum não define quaisquer práticas de engenharia de software para o Development Team, mas
            recomenda sempre o uso de práticas ágeis <b>que garantam a qualidade do produto desenvolvido.</b>
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp Assim,
            mediante as práticas adotadas pelo Time, tem-se a definição do que é uma <b>funcionalidade “pronta”</b>,
            código testado unitariamente, código testado mediante teste de aceitação, código revisto e assim por
            diante.
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp No mínimo, o Definition of Done deve conter o <b>“potencialmente entregável”.</b>

            <br><br>

            &nbsp  &nbsp  &nbsp  &nbsp  Uma funcionalidade só é considerada pronta se tiver passada por todas as <b>etapas definidas</b> pelo Time
            de Desenvolvimento, assim também sendo necessária a clara noção de todo o Time Scrum do que é
            considerado pronto. Uma funcionalidade inacabada volta ao <b>Product Backlog</b> para ser continuada na
            próxima Sprint.
        </div>
    </div>

    <div class="content">

        <div id="Agilidade">
            <h1 id="SB" class="content h1">Sprint Backlog</h1>
            <h3 class="content h3">"Tornando cada minuto produtivo."</h3>
            &nbsp  &nbsp  &nbsp  &nbsp <b>Sprint Backlog</b> é uma lista de tarefas que o <b>Time de Desenvolvimento</b> deve realizar durante uma
            <b>sprint</b>, que é um período de tempo curto e definido em metodologias ágeis de desenvolvimento de
            software, como o <b>Scrum</b>. 
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp Essa lista é criada a partir dos itens do Product Backlog que foram priorizados
            para o sprint em questão

            <br><br>

            &nbsp  &nbsp  &nbsp  &nbsp O <b>Sprint Backlog</b> é uma ferramenta essencial para o <b>Scrum</b>, pois permite que o <b>Time de
            Desenvolvimento</b> tenha uma visão clara das tarefas a serem realizadas durante o <b>sprint</b>, facilitando o
            planejamento, execução e acompanhamento do trabalho.
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp Além disso, o <b>Sprint Backlog</b> é atualizado
            diariamente durante a reunião diária (<b>Daily Scrum</b>), permitindo que o time ajuste as tarefas de acordo
            com as necessidades e mudanças que surgirem durante o <b>sprint</b>.

            <h1 id="SB" class="content h1">Na prática:</h1>
            &nbsp  &nbsp  &nbsp  &nbsp Já com as <b>funcionalidades</b> e prioridades estabelecidas, o time se organiza em um número determinado de <b>sprints</b> (normalmente 4 ou 5 sprints) cada uma com um período de tempo igual, formando e dividindo as <b>tarefas</b> entre as mesmas, baseadas no que foi <b>requisitado e priorizado no Product Backlog.</b>
            
            <br><br>

            <li><b>Sprint 1</b>: 
                Protótipagem 
                (Versão Beta)
                - Esboçar a interface da função</li>
            
            <li><b>Sprint 2</b>:
                Criação da interface 
                (Design)
                - Criar a interface com linguagem front-end</li>
            
            <li><b>Sprint 3</b>:
                Codificar geolocalização
                (Programação)
                - Aplicar o rastreamento
                de localização em tempo real</li>

            <li><b>Sprint 4</b>:
                Correções e experimentos
                (Testes)
                - Corrigir falhas, testar a função antes de entregá-la</li>
        </div>
    <div>
        <br><br><br>
            <img id="img" src="../static/imagens/sprintbacklog.png">
        </div>
    </div>
</div>

    <div class="content">
        <div>
        </div>
        <div id="Scrum">
            <h1 id="SB" class="content h1">Product Increment</h1>
            <h3 class="content h3">"A retrospectiva de seu progresso."</h3>
            &nbsp  &nbsp  &nbsp  &nbsp Ao final de cada Sprint, o <b>Time de Desenvolvimento</b> entrega um <b>Incremento do produto</b>
            desenvolvido, essa entrega é importante pois permite o <b>Product Owner</b> ver o trabalho realizado e
            também já pense em <b>outras possibilidades</b> até da <b>próxima Sprint</b>.
            <br>
            &nbsp  &nbsp  &nbsp  &nbspVale lembrar que o Incremento é
            algo <b>potencialmente entregável</b>, que pode chamar a <b>atenção do cliente</b>, por isso é importante um
            bom trabalho do Time de Desenvolvimento para que o Incremento contenha o <b>menor número de
            erros possível.</b>
        </div>
   </div>

    <div class="content">
        <div id="Pilares">
            <h1 id="BC" class="content h1-1">Burndown Chart</h1>
            <h3 class="content h3">"Medindo a distância do objetivo."</h3>
            &nbsp  &nbsp  &nbsp  &nbsp <b>Burndown Chart</b> é uma ferramenta gráfica utilizada em <b>metodologias ágeis</b> de desenvolvimento de software, como o <b>Scrum</b>, para medir e acompanhar o progresso do <b>Time de Desenvolvimento</b> em relação às metas estabelecidas para o <b>sprint</b>.
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp O gráfico mostra a quantidade de trabalho que ainda precisa ser realizado, comparando com o tempo disponível para conclusão do <b>sprint</b>.
            <br><br>
            &nbsp  &nbsp  &nbsp  &nbsp  Através do <b>Burndown Chart</b>, é possível visualizar a evolução do trabalho, identificar possíveis atrasos e planejar as atividades que ainda precisam ser realizadas. 
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp Ele também ajuda o <b>Time de Desenvolvimento</b> a manter o foco nas tarefas <b>mais importantes</b> e a tomar decisões de forma mais eficiente, permitindo que o sprint seja concluído com sucesso.
            <br><br>
            &nbsp  &nbsp  &nbsp  &nbsp   O <b>Burndown Chart</b> é atualizado diariamente pelo <b>DevTeam</b>, de forma que ele possa monitorar seu progresso em relação às metas estabelecidas para o <b>sprint</b>. 
            <br>
            &nbsp  &nbsp  &nbsp  &nbspDessa forma, ele se torna uma ferramenta importante para o <b>gerenciamento do tempo</b> e a tomada de decisões eficientes durante o desenvolvimento do produto.

            <h1 id="BC" class="content h1-1">Na prática:</h1>
            &nbsp  &nbsp  &nbsp  &nbsp Agora que as <b>tarefas</b> já foram todas decididas, é essencial <b>organizar</b> o tempo que o time passará trabalhando na <b>sprint</b>, medindo as tarefas pelo <b>nível de esforço</b> que cada uma necessita. As horas estimadas de cada tarefa é discutido e decidido através do <b>planning poker</b>, adequando-se ao <b>nível de dificuldade</b> e capacidade dos membros do <b>DevTeam</b>.
            <br><br>
            &nbsp  &nbsp  &nbsp  &nbsp Após isso, as tarefas, responsáveis, e horas dedicadas são escritas no <b>Burndown Chart</b>, também formando um <b>gráfico</b> baseado no <b>tempo de término</b> das atividades, que varia de acordo com o horário ideal e real tomado por cada tarefa como no exemplo abaixo, sendo o gráfico de uma sprint de 10 dias:
            
            <br><br>

            <table>
                <tr>
                <th><b>Descrição</b></th>
                <th><b>Previsão</b></th>
                <th><b>Horas reais</b></th>
                <th><b>Responsável</b></th>
                </tr>

            <tr>
                <td>Tarefa 1</td>
                <td>13 horas</td>
                <td>15 horas</td>
                <td>Membro 1</td>   
            </tr>

            <tr>
                <td>Tarefa 2</td>
                <td>8 horas</td>
                <td>5 horas</td>
                <td>Membro 2</td>
            </tr>

            <tr>
                <td>Tarefa 3</td>
                <td>21 horas</td>
                <td>21 horas</td>
                <td>Membro 3</td>   
            </tr>

            <tr>
                <td>Tarefa 4</td>
                <td>5 horas</td>
                <td>3 horas</td>
                <td>Membro 4</td>
            </tr>

        </table>
        </div>
        
        <div>
            <br><br><br><br><br><br><br><br>
            
            <img id="img" src="../static/imagens/burndown.png">
            
            <br><br><br><br><br><br><br><br><br><br><br><br>

            <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
            </script>
        
        <script>
            function sumArrayUpTo(arrData, index) {
              var total = 0;
              for (var i = 0; i <= index; i++) {
                if (arrData.length > i) {
                  total += arrData[i];
                    }
              }
              return total;
            }
        
            function showBurnDown(elementId, burndownData, scopeChange = []) {
        
              var speedCanvas = document.getElementById(elementId);
        
              Chart.defaults.global.defaultFontFamily = "Arial";
              Chart.defaults.global.defaultFontSize = 14;
        
              const totalHoursInSprint = burndownData[0];
              const idealHoursPerDay = totalHoursInSprint / 9;
              i = 0;
        
              var speedData = {
                labels: [ "Dia 1",	"Dia 2",	"Dia 3",	"Dia 4",	"Dia 5",	"Dia 6",	"Dia 7",	"Dia 8",	"Dia 9", "Dia 10"],
                datasets: [
                  {
                    label: "Real",
                    data: burndownData,
                    fill: false,
                    borderColor: "#8121A6",
                    backgroundColor: "#8121A6",
                    lineTension: 0,
                  },
                  {
                    label: "Ideal",
                    borderColor: "#c03ff3",
                    backgroundColor: "#c03ff3",
                    lineTension: 0,
                    borderDash: [5, 5],
                    fill: false,
                    data: [
                      Math.round(totalHoursInSprint - (idealHoursPerDay * i++) + sumArrayUpTo(scopeChange, 0)), // 1
                      Math.round(totalHoursInSprint - (idealHoursPerDay * i++) + sumArrayUpTo(scopeChange, 1)), // 2
                      Math.round(totalHoursInSprint - (idealHoursPerDay * i++) + sumArrayUpTo(scopeChange, 2)), // 3
                      Math.round(totalHoursInSprint - (idealHoursPerDay * i++) + sumArrayUpTo(scopeChange, 3)), // 4
                      Math.round(totalHoursInSprint - (idealHoursPerDay * i++) + sumArrayUpTo(scopeChange, 4)), // 5
                      Math.round(totalHoursInSprint - (idealHoursPerDay * i++) + sumArrayUpTo(scopeChange, 5)), // 6
                      Math.round(totalHoursInSprint - (idealHoursPerDay * i++) + sumArrayUpTo(scopeChange, 6)), // 7
                      Math.round(totalHoursInSprint - (idealHoursPerDay * i++) + sumArrayUpTo(scopeChange, 7)), // 8
                      Math.round(totalHoursInSprint - (idealHoursPerDay * i++) + sumArrayUpTo(scopeChange, 8)), // 9
                      Math.round(totalHoursInSprint - (idealHoursPerDay * i++) + sumArrayUpTo(scopeChange, 9))  // 10
                    ]
                  },
                ]
              };
        
              var chartOptions = {
                legend: {
                  display: true,
                  position: 'top',
                  labels: {
                    boxWidth: 80,
                    fontColor: 'black'
                  }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: Math.round(burndownData[0] * 1.1)
                        }
                    }]
                }
              };
        
              var lineChart = new Chart(speedCanvas, {
                type: 'line',
                data: speedData,
                options: chartOptions
              });
        
            }
            </script>
          </head>
          
          <body>
        
            <div style="width:500px;"><canvas id="burndown43"></canvas></div>
            <script>
            showBurnDown (
              "burndown43",
              //   1    2    3    4    5    6    7    8    9   10
              [    21,  18,  13,  8,  5,   3,   2,   1,   0,           ], // burndown data
              [   0,   0,   0,   0,   0,  0,   0,   0,   0,   0   ]  // scope change
            );
            </script>
        </div>

    </div>
    <div class="content">
        <div>
            <a href="/conteudo3" ><img class="seta" src="static/imagens/seta_esq.png" alt=""></a>            
        </div>
    </div>
</div>
{% endblock %}
