{% extends 'base.html' %}
{% block navbar %}
    <div id="sidebar">
        <ul>
            <a href="#"><li>Capítulo 1 - Definições</li></a><br>
            <a href="#"><li>Capítulo 2 - Responsabilidades e papéis</li></a><br>
            <a href="#"><li>Capítulo 3 - Artefatos do Scrum</li></a><br>
            <a href="#"><li>Capítulo 4 - Eventos do Scrum</li></a><br> 
        </ul>
    </div>

    <header>
        <div class="nav">
            <div class="element">
                <button id="s idebar-toggle"><img src="/Code/static/imagens/menu1.png"></button>
            </div>
            <div>
                <b class="title">Capítulo 4</b>
            </div>

            <div class="element">
                <a href="#"><img src="/Code/static/imagens/home1.png"></a>
            </div>
        </div>
    </header>

    <div id="page-content">
        <div class="links">
            <a href="#S. Backlog">Sprint Backlog</a>
            <a href="#P. Backlog">Product Backlog</a>
            <a href="#Burndown">Burndown Charts</a>
            </div>
        <div class="banner">
            <h1>ARTEFATOS DE SCRUM</h1>
        </div>

        <div>

            <h1 class="txt_topicos"><b id="c0"><i>Introdução</i></b></h1>
            &nbsp  &nbsp  &nbsp  &nbsp O Scrum possui alguns artefatos que dão uma visão do andamento do projeto e das Sprints. Os artefatos de Scrum são: <b id="c4">Product Backlog, Sprint Backlog, Product Increment, Definition of Done e Burndown Charts</b>
        
        </div>

               <div class="content">
                    <div id="Agilidade">
                    <h2 class="Sprint Backlog"><b id="c1"><i>Sprint Backlog</i></b></h2>
                &nbsp  &nbsp  &nbsp  &nbsp <b>Sprint Backlog</b> é uma lista de tarefas que o <b>Time de Desenvolvimento</b> deve realizar durante uma <b>sprint</b>, que é um período de tempo curto e definido em metodologias ágeis de desenvolvimento de software, como o <b>Scrum</b>. Essa lista é criada a partir dos itens do <b>Product Backlog</b> que foram priorizados para o sprint em questão.

                &nbsp  &nbsp  &nbsp  &nbsp  O <b>Sprint Backlog</b> é uma ferramenta essencial para o Scrum, pois permite que o <b>Time de Desenvolvimento</b> tenha uma visão clara das tarefas a serem realizadas durante o <b>sprint</b>, facilitando o planejamento, execução e acompanhamento do trabalho. Além disso, o <b>Sprint Backlog</b> é atualizado diariamente durante a reunião diária (<b>Daily Scrum</b>), permitindo que o time ajuste as tarefas de acordo com as necessidades e mudanças que surgirem durante o <b>sprint</b>.
 
                <div class="div_geral">
            <div class="div_right">
                <img class="img" src="/Code/static/imagens/sprintbacklog.png">
        </div>
    </div>

                 <div class="content">
                    <div id="Product Backlog">
                    <h2 class="txt_topicos"><b id="c2"><i>Product Backlog</i></b></h2>
                  &nbsp  &nbsp  &nbsp  &nbsp <b>Product Backlog</b> é uma lista de itens priorizados que descrevem as <b>funcionalidades e requisitos</b> de um produto a ser desenvolvido em metodologias ágeis de desenvolvimento de software, como o <b>Scrum</b>. Cada item é descrito por meio de user <b>stories</b>, que são narrativas curtas e simples que descrevem o que o usuário deseja e o que o produto deve fazer para atender a essa necessidade.</p>

                  &nbsp  &nbsp  &nbsp  &nbsp As <b>user stories</b> podem ser alteradas durante o projeto, já que a <b>metodologia ágil</b> prevê a adaptação às mudanças e necessidades do cliente. Por isso, o <b>Product Backlog</b> é considerado um documento <b>vivo e dinâmico</b>, que pode ser atualizado a qualquer momento de acordo com as mudanças de prioridades e necessidades do cliente. Essa flexibilidade permite que o produto final atenda de forma mais eficiente às <b>necessidades e expectativas do cliente.</b>

                  &nbsp  &nbsp  &nbsp  &nbsp Além disso, é importante ressaltar que o <b>Product Owner</b> é responsável por gerenciar o <b>Product Backlog</b> e garantir que as alterações sejam feitas de forma estratégica e organizada, levando em consideração o <b>impacto das mudanças</b> nas entregas e no prazo do projeto. O objetivo é manter o <b>Product Backlog</b> sempre atualizado e alinhado com a visão e estratégia do produto, garantindo que o produto atenda às necessidades do cliente de forma eficaz.

                    <div class="div_geral">
                        <div class="div_left">
                            <img class="img" src="/Code/static/imagens/productbacklog.png">
                    </div>
                </div>
                
                
                <div class="content">
                    <div id="Burndown Chart">
                    <h2 class="txt_topicos"><b id="c3"><i>Burndown Chart</i></b></h2>
                &nbsp  &nbsp  &nbsp  &nbsp <b>Burndown Chart</b> é uma ferramenta gráfica utilizada em <b>metodologias ágeis</b> de desenvolvimento de software, como o <b>Scrum</b>, para medir e acompanhar o progresso do <b>Time de Desenvolvimento</b> em relação às metas estabelecidas para o <b>sprint</b>. O gráfico mostra a quantidade de trabalho que ainda precisa ser realizado, comparando com o tempo disponível para conclusão do <b>sprint</b>.

                &nbsp  &nbsp  &nbsp  &nbsp  Através do <b>Burndown Chart</b>, é possível visualizar a evolução do trabalho, identificar possíveis atrasos e planejar as atividades que ainda precisam ser realizadas. Ele também ajuda o <b>Time de Desenvolvimento</b> a manter o foco nas tarefas <b>mais importantes</b> e a tomar decisões de forma mais eficiente, permitindo que o sprint seja concluído com sucesso.

                &nbsp  &nbsp  &nbsp  &nbsp   O <b>Burndown Chart</b> é atualizado diariamente pelo <b>DevTeam</b>, de forma que ele possa monitorar seu progresso em relação às metas estabelecidas para o <b>sprint</b>. Dessa forma, ele se torna uma ferramenta importante para o <b>gerenciamento do tempo</b> e a tomada de decisões eficientes durante o desenvolvimento do produto.

                <div class="div_geral">
                    <div class="div_right">
                        <img class="img" src="/Code/static/imagens/burndown.png">
                </div>
            </div>
            <div>
                    <a href="/conteudo3" ><img class="seta" src="static/imagens/seta_esq.png" alt=""></a>            
                </div>
                <div>
                  
                </div>
            </div>

    
    
{% endblock %}
