{% extends 'base.html' %}
{% block navbar %}
{% block title %}
<title> Artefatos do Scrum </title>
{% endblock %}
{% block navtitle %}
    <b class="title">Capítulo 4</b>
{% endblock %}
<div id="page-content">
        <div class="links">
            <a href="#SB">Sprint Backlog</a>
            <a href="#PB">Product Backlog</a>
            <a href="#BC">Burndown Chart</a>
        </div>
    <div class="banner">
        <h1>ARTEFATOS DO SCRUM</h1>
    </div>
    <div class="content">

        <div id="Scrum">
            <h1 class="content h1">Introdução</h1>
            &nbsp  &nbsp  &nbsp  &nbsp Scrum possui alguns artefatos que dão uma visão do andamento do projeto e das Sprints. Os artefatos
            de Scrum são:
            <ul>
                <li>Product Backlog</li>
                <li>Sprint Backlog</li>
                <li>Product Increment</li>
                <li>Definition of Done</li>
                <li>Burndown Charts</li>

            </ul>
        </div>

    </div>
    <hr>
    <div class="content">

        <div id="Scrum">
            <h1 id="SB" class="content h1">Product Backlog</h1>
            &nbsp  &nbsp  &nbsp  &nbsp <b>Product Backlog</b> é uma lista de itens priorizados que descrevem as funcionalidades e requisitos de um produto a ser desenvolvido em metodologias ágeis de desenvolvimento de software, como o
            Scrum. 
            <br>
            Cada item é descrito por meio de user stories, que são narrativas curtas e simples que
            descrevem o que o usuário deseja e o que o produto deve fazer para atender a essa necessidade.
            
            <br><br>

            &nbsp  &nbsp  &nbsp  &nbsp  As user stories podem ser alteradas durante o projeto, já que a metodologia ágil prevê a adaptação
            às mudanças e necessidades do cliente. 
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp Por isso, o Product Backlog é considerado um documento vivo
            e dinâmico, que pode ser atualizado a qualquer momento de acordo com as mudanças de prioridades
            e necessidades do cliente. 
            <br>

            Essa flexibilidade permite que o produto final atenda de forma mais
            eficiente às necessidades e expectativas do cliente

            <br><br>

            &nbsp  &nbsp  &nbsp  &nbsp Além disso, é importante ressaltar que o Product Owner é responsável por gerenciar o Product
            Backlog e garantir que as alterações sejam feitas de forma estratégica e organizada, levando em
            consideração o impacto das mudanças nas entregas e no prazo do projeto.
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp O objetivo é manter o
            Product Backlog sempre atualizado e alinhado com a visão e estratégia do produto, garantindo que o
            produto atenda às necessidades do cliente de forma eficaz.
            
        </div>
        

    
    </div>

    <div class="content">
        <div>
            <img id="img" src="../static/imagens/productbacklog.png">
        </div>
        
        <div id="Scrum">
            <h1 id="SB" class="content h1">Definition of Done</h1>
            &nbsp  &nbsp  &nbsp  &nbsp O Scrum não define quaisquer práticas de engenharia de software para o Development Team, mas
            recomenda sempre o uso de práticas ágeis que garantam a qualidade do produto desenvolvido. 
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp Assim,
            mediante as práticas adotadas pelo Time, tem-se a definição do que é uma funcionalidade “pronta”,
            código testado unitariamente, código testado mediante teste de aceitação, código revisto e assim por
            diante.
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp No mínimo, o Definition of Done deve conter o “potencialmente entregável”.

            <br><br>

            &nbsp  &nbsp  &nbsp  &nbsp  Uma funcionalidade só é considerada pronta se tiver passada por todas as etapas definidas pelo Time
            de Desenvolvimento, assim também sendo necessária a clara noção de todo o Time Scrum do que é
            considerado pronto. Uma funcionalidade inacabada volta ao Product Backlog para ser continuada na
            próxima Sprint.
        </div>
    </div>

    <div class="content">

        <div id="Agilidade">
            <h1 id="PB" class="content h1">Sprint Backlog</h1>
            &nbsp  &nbsp  &nbsp  &nbsp Sprint Backlog é uma lista de tarefas que o Time de Desenvolvimento deve realizar durante uma
            sprint, que é um período de tempo curto e definido em metodologias ágeis de desenvolvimento de
            software, como o Scrum. 
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp Essa lista é criada a partir dos itens do Product Backlog que foram priorizados
            para o sprint em questão

            <br><br>

            &nbsp  &nbsp  &nbsp  &nbsp O Sprint Backlog é uma ferramenta essencial para o Scrum, pois permite que o Time de
            Desenvolvimento tenha uma visão clara das tarefas a serem realizadas durante o sprint, facilitando o
            planejamento, execução e acompanhamento do trabalho.
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp Além disso, o Sprint Backlog é atualizado
            diariamente durante a reunião diária (Daily Scrum), permitindo que o time ajuste as tarefas de acordo
            com as necessidades e mudanças que surgirem durante o sprint.
        </div>
        <div>
            <img id="img" src="../static/imagens/sprintbacklog.png">
        </div>

    </div>

    <div class="content">
         <div>
            
        </div>
        <div id="Agilidade">
            <h1 id="PB" class="content h1">Product Increment</h1>
            &nbsp  &nbsp  &nbsp  &nbsp Ao final de cada Sprint, o Time de Desenvolvimento entrega um Incremento do produto
            desenvolvido, essa entrega é importante pois permite o Product Owner ver o trabalho realizado e
            também já pense em outras possibilidades até da próxima Sprint.
            <br>
            &nbsp  &nbsp  &nbsp  &nbspVale lembrar que o Incremento é
            algo potencialmente entregável, que pode chamar a atenção do cliente, por isso é importante um
            bom trabalho do Time de Desenvolvimento para que o Incremento contenha o menor número de
            erros possível.
        </div>
   

    </div>

    <div class="content">
        <div id="Pilares">
            <h1 id="BC" class="content h1-1">Burndown Chart</h1>
            &nbsp  &nbsp  &nbsp  &nbsp <b>Burndown Chart</b> é uma ferramenta gráfica utilizada em <b>metodologias ágeis</b> de desenvolvimento de software, como o <b>Scrum</b>, para medir e acompanhar o progresso do <b>Time de Desenvolvimento</b> em relação às metas estabelecidas para o <b>sprint</b>.
            <br>
            &nbsp  &nbsp  &nbsp  &nbspO gráfico mostra a quantidade de trabalho que ainda precisa ser realizado, comparando com o tempo disponível para conclusão do <b>sprint</b>.
            <br><br>
            &nbsp  &nbsp  &nbsp  &nbsp  Através do <b>Burndown Chart</b>, é possível visualizar a evolução do trabalho, identificar possíveis atrasos e planejar as atividades que ainda precisam ser realizadas. 
            <br>
            &nbsp  &nbsp  &nbsp  &nbspEle também ajuda o <b>Time de Desenvolvimento</b> a manter o foco nas tarefas <b>mais importantes</b> e a tomar decisões de forma mais eficiente, permitindo que o sprint seja concluído com sucesso.
            <br><br>
            &nbsp  &nbsp  &nbsp  &nbsp   O <b>Burndown Chart</b> é atualizado diariamente pelo <b>DevTeam</b>, de forma que ele possa monitorar seu progresso em relação às metas estabelecidas para o <b>sprint</b>. 
            <br>
            &nbsp  &nbsp  &nbsp  &nbspDessa forma, ele se torna uma ferramenta importante para o <b>gerenciamento do tempo</b> e a tomada de decisões eficientes durante o desenvolvimento do produto.
        </div>
        <div>
            <img id="img" src="../static/imagens/burndown.png">
        </div>

    </div>
    <div class="content">
        <div>
            <a href="/conteudo3" ><img class="seta" src="static/imagens/seta_esq.png" alt=""></a>            
        </div>

    </div>
</div>
{% endblock %}
