{% extends 'base.html' %}
{% block navbar %}
{% block title %}
<title> Definições do Scrum </title>
{% endblock %}
{% block navtitle %}
    <b class="title">Capítulo 1</b>
{% endblock %}
<div id="page-content">
        <div class="links">
            <a href="#Agilidade">Agilidade</a>
            <a href="#Pilares">Pilares do scrum</a>
        </div>
    <div class="banner">
        <h1>DEFINIÇÕES</h1>
    </div>
    <div class="content">
        <div>
            <img src="../static/imagens/scrum.png">
        </div>
        <div id="Scrum">
            <h1 class="content h1">Scrum</h1>
            &nbsp  &nbsp  &nbsp  &nbsp É um método ágil para gerenciar, desenvolver e sustentar produtos complexos, com a premissa deconseguir     produzir mais em equipes menores e auto-organizáveis.
            Geralmente o Scrum é usado em trabalhos com produtos de software, mas também pode ser empregado em várias outrasáreas   como educação, pesquisa, marketing e RH.<br><br>

            &nbsp  &nbsp  &nbsp  &nbsp No método Scrum, as tomadas de decisões devem ser feitas com base no conhecimento adiquirido por experiências anteriores e na observação, e visa se concentrar sempre no que é essencial para a conclusão de um trabalho.

            &nbsp  &nbsp  &nbsp  &nbsp O Scrum é um framework que trabalha com abordagens incrementais e iterativas, ou seja, o resultado do trabalho é entregue por partes, fazendo entregas cada vez mais incrementadas de forma produtiva e com o maior valor possível.
        </div>
    </div>

    <div class="content">
        <div id="Agilidade">
            <h1 class="content h1">Agilidade</h1>
            &nbsp  &nbsp  &nbsp  &nbsp Ser ágil é responder de forma rápida e consciente a mudanças de situação. A cultura de desenvolvimento ágil surgiu como um tratado formalizado por um grupo de desenvolvedores, e foi chamado de Manifesto Ágil, declarando princípios para desenvolver software, apesar do método ser utilizado para outros negócios atualmente.

            <p>No Manifesto Ágil, são apresentados 12 princípios:</p>
            <ul>
                <li>Satisfação por entregas antecipadas e contínuas</li>
                <li>Aceitar mudanças mesmo no fim do projeto</li>
                <li>Entregas de valor e com frequência</li>
                <li>As partes interessadas trabalham juntas</li>
                <li>Equipe motivada</li>
                <li>Comunicação “cara-a-cara”</li>
                <li>Progresso é medido por funcionamento</li>
                <li>Ritmo de trabalho constante e sustentável</li>
                <li>Excelência contínua aumenta a agilidade</li>
                <li>Simplicidade é essencial</li>
                <li>Equipes auto-organizadas têm mais valor</li>
                <li>Avaliar desempenho e identificar possíveis melhorias</li>
            </ul>
        </div>
        <div>
            <img src="../static/imagens/fast.png">
        </div>
    </div>

    <div class="content">
        <div id="Pilares">
            <h1 class="content h1-1">Pilares do Scrum</h1>
            <h3 class="content h3">Transparência</h3>
            &nbsp  &nbsp  &nbsp  &nbsp A transparência é algo fundamental no Scrum, então todos os processos devem estar visíveis a todos os integrantes no processo de criação. Para esse processo ocorrer, o time deve estar com todas as definições em mente, como a Definição de Pronto(Definition of Done), que deve ser definida e compartilhada com o grupo para um entendimento mútuo.

            <h3 class="content h3">Inspeção</h3>
            &nbsp  &nbsp  &nbsp  &nbsp É um método de controle empírico de processos, ou seja, testando e validando as teorias e hipóteses do projeto, ele deve ser inspecionado regularmente, seja para detectar problemas ou verificar o andamento do projeto.<br>&nbsp  &nbsp  &nbsp  &nbsp Quando a inspeção detectar algum problema ou melhoria para o processo, é necessário que se façam adaptações rápidas para manter ou elevar a produtividade do time e a qualidade do produto.

            <p>O Scrum possui Eventos para essa adaptação:</p>

            <ul>
                <li>Daily Scrum</li>
                <li>Sprint Planning Meeting</li>
                <li>Sprint Review</li>
                <li>Sprint Retrospective</li>
            </ul>

            As adaptações devem ser feitas sem qualquer nível hierárquico, para isso é necessária transparência entre os membros do time.
        </div>

    </div>
    <div class="content">
        <div>
                      
        </div>
        <div>
            <a href="/conteudo2"><img class="seta" src="static/imagens/seta_dir.png" alt=""></a>
        </div>
    </div>
    
</div>
{% endblock %}