{% extends 'base.html' %}
{% block navbar %}
{% block title %}
<title> Eventos do Scrum </title>
{% endblock %}
{% block navtitle %}
    <b class="title">Capítulo 3</b>
{% endblock %}
<div id="page-content">
        <div class="links">
            <a href="#Agilidade">Sprints</a>
            <a href="#">Daily Scrum</a>
            <a href="#SC">Sprint Review</a>
        </div>
    <div class="banner">
        <h1>EVENTOS DO SCRUM</h1>
    </div>
    <div class="content">

        <div id="Scrum">
            <h1 class="content h1">Introdução</h1>
            &nbsp  &nbsp  &nbsp  &nbsp <b>Scrum</b> possui alguns eventos de <b>duração fixa</b> realizados em intervalos que ocorrem regularmente.
            Cada um destes eventos são oportunidades para <b>inspeção e adaptação</b> do projeto como um todo,
            sendo importante para sua consistência e qualidade.
            <br><br>
            &nbsp  &nbsp  &nbsp  &nbsp Esses eventos são:
            <ul>
                <li>Sprint</li>
                <li>Sprint Planning Meeting</li>
                <li>Daily Scrum</li>
                <li>Sprint Retrospective</li>
                <li>Release Planning Meeting</li>
            </ul> 
            <br><br>
            
        </div>

        <div></div>
    </div>

    <hr>    
    <div class="content">
        <div id="Agilidade">
            <h1 class="content h1">Sprints</h1>
            &nbsp  &nbsp  &nbsp  &nbsp <b>Scrum</b> é um processo iterativo e incremental para desenvolvimento de produtos, que se baseia em
            ciclos chamados de <b>Sprints</b>. Cada Sprint tem duração de até um mês e produz um <b>incremento
            potencialmente entregável do produto</b>. Durante a Sprint, são realizados eventos como a <b>Sprint
            Planning Meeting</b>, <b>Daily Scrum</b>, trabalho de desenvolvimento, <b>Sprint Review</b> e <b>Sprint Retrospective</b>.
            
            <br><br>

            &nbsp  &nbsp  &nbsp  &nbsp Durante a Sprint, não devem ser feitas alterações que afetem a <b>meta</b> da Sprint. No entanto, o escopo
            pode ser renegociado entre o <b>Development Team</b> e o <b>Product Owner</b> conforme o conhecimento
            evolua durante o desenvolvimento. Isso permite feedbacks constantes do Product Owner quanto ao
            produto sendo desenvolvido e a possibilidade de reorganizar o <b>Product Backlog</b> caso seja necessário.
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp Em resumo, as Sprints são a base do processo Scrum, permitindo o    desenvolvimento ágil e iterativo
            do produto de forma eficiente e com feedback constante.
            
        </div>
        <div>
            <img src="../static/imagens/scrum.png">
        </div>
    </div>

    <div class="content">
        <div>
            <img src="../static/imagens/team.png">
        </div>
        <div id="Agilidade">
            <h1 class="content h1">Sprint Planning Meeting</h1>
            &nbsp  &nbsp  &nbsp  &nbsp A Sprint Planning Meeting é um evento no Scrum que ocorre no <b>início</b> de cada Sprint, sendo uma
            reunião com toda o <b>Time Scrum</b>. Durante a reunião, o Product Owner apresenta o <b>Product Backlog</b>, o
            Development Team então decide quais <b>itens serão trabalhados</b> e cria um plano de Sprint com a
            <b>definição da meta da e tarefas</b> necessárias dessa Sprint, para facilitar esse planejamento essa reunião
            é dividida em duas partes que se resumem a <b>duas perguntas</b>:
            <br>
            <ul>
                <li>O que será entregue no Incremento resultante nesta Sprint?
                </li>
                <li>Como faremos para entregar o Incremento nesta Sprint?</li>

            </ul>
            
            <br><br>
            <h1 class="content h1">1º Pergunta</h1>
            &nbsp  &nbsp  &nbsp  &nbsp Então, para responder a primeira pergunta, o Time de Desenvolvimento prevê as <b>funcionalidades</b> que
            serão desenvolvidas nessa Sprint enquanto o Produtct Owner pontua quais são os itens do <b>topo</b> do
            <b>Product Backlog</b> ao Time Scrum, que colabora na seleção dos itens dessa Sprint. 
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp É importante ressaltar
            que <b>apenas</b> o Development Team é capaz de definir o que é capaz de <b>realizar</b> nessa Sprint. Assim
            definindo a meta da Sprint.

            <h1 class="content h1">2º Pergunta</h1>
            &nbsp  &nbsp  &nbsp  &nbsp  Na segunda parte da reunião é discutido as <b>formas nas quais o Time de Desenvolvimento transformará
            os itens selecionados em Incremento</b>. 
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp O Development Team, sendo <b>autogerenciado</b>, se coordena para
            decompor os itens em unidades de um dia ou menos, o suficiente para os <b>primeiros dias da Sprint</b>.
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp  Os itens selecionados mais o plano para o desenvolvimento do Incremento dá origem ao Sprint Backlog.
            <br><br>
            &nbsp  &nbsp  &nbsp  &nbsp Toda essa reunião é importante para <b>alinhar a equipe com os objetivos do projeto</b> e definir um plano
            <b>claro</b> para atingir as metas, levando em consideração as <b>prioridades definidas</b> pelo Product Owner e
            as capacidades da equipe.
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp O plano de Sprint é um <b>guia</b> importante para a equipe durante a Sprint,
            permitindo que eles se <b>concentrem</b> nas tarefas mais <b>importantes</b> e trabalhem de forma <b>eficiente</b>.
            
        </div>



    </div>
    <div class="content">
        <div id="Agilidade">
            <h1 class="content h1">Daily Scrum</h1>
            &nbsp  &nbsp  &nbsp  &nbspO Daily Scrum é um evento <b>diário</b> que faz parte do processo Scrum. Durante a reunião, que dura <b>no
            máximo 15 minutos</b>, o Development Team se reúne para compartilhar o que <b>realizou desde a última
            reunião</b>, sempre respondendo às perguntas:
            
            <ul>
                <li>O que fiz desde a última Daily Scrum? </li>
                <li>O que pretendo fazer até a próxima Daily Scrum?</li>
                <li>Existe algo me impedindo de concluir alguma tarefa? </li>
            </ul>
            &nbsp  &nbsp  &nbsp  &nbsp Cada membro da equipe tem a oportunidade de falar e todos devem se <b>concentrar em manter a
            reunião breve e objetiva</b>.
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp O objetivo é manter a equipe <b>informada e alinhada</b>, identificar problemas o
            mais cedo possível e garantir que todos estejam <b>trabalhando em direção à Meta da Sprint</b>.
            <br><br>
            &nbsp  &nbsp  &nbsp  &nbsp Daily Scrum é uma oportunidade para a equipe se comunicar de forma<b> eficaz e colaborar para atingir
            os objetivos do projeto</b>. 
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp É importante que todos os membros <b>participem</b> da reunião e compartilhem
            suas <b>atualizações</b> para garantir que todos estejam cientes do progresso da equipe e dos <b>próximos
            passos a serem tomados</b>.

        </div>
        <div>
            <img class="img_rig" src="../static/imagens/dev.png">
        </div>
    </div>

    <div class="content">
        <div>
            <img src="../static/imagens/scrum_master.png">
        </div>
        <div id="Agilidade">
            <h1 class="content h1">Sprint Review</h1>
            &nbsp  &nbsp  &nbsp  &nbsp A Sprint Review é uma reunião realizada no final de cada Sprint para que o Development Team
            apresente o trabalho realizado e o Product Owner <b>forneça feedback</b>, analisando o que funcionou ou
            não e os <b>problemas enfrentados</b>.
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp O objetivo é garantir que o trabalho realizado esteja <b>alinhado com
            as expectativas do cliente</b> e do Product Owner e que o Product Backlog seja <b>atualizado</b> com base no
            feedback recebido. 
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp Neste evento, o Product Owner <b>valida ou não a Sprint</b>, de acordo com a meta que
            tenha sido acordada com o Time de Desenvolvimento.             
            <br><br>

            
        </div>

    </div>

    <div class="content">
        <div id="Agilidade">
            <h1 class="content h1">Sprint Retrospective</h1>
            &nbsp  &nbsp  &nbsp  &nbsp A Sprint Retrospective é a última reunião que ocorre após a Sprint Review, em que a equipe Scrum se
            reúne para <b>discutir o que funcionou bem durante a Sprint e o que poderia ser melhorado</b>. 
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp O objetivo
            é <b>identificar oportunidades de melhoria e tomar medidas para implementá-las na próxima Sprint</b>. 
            <br>
            &nbsp  &nbsp  &nbsp  &nbspÉ
            importante que cada membro do Time Scrum <b>esteja aberto a ouvir críticas e não levar isso para um
            lado pessoal</b>, mas como uma forma de melhorar o próprio desempenho.
            
        </div>
       
    </div>

    <div class="content">
        <div></div>
        <div id="Agilidade">
            <h1 class="content h1">Release Planning Meeting</h1>
            &nbsp  &nbsp  &nbsp  &nbsp Ao final de uma Sprint, o Development Team entrega um <b>Incremento do produto</b>, que é algo
            <b>potencialmente entregável</b>.
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp Entretanto, apesar de poder entrar imediatamente em produção, existem
            <b>situações em que isso é postergado para que seja feito somente na Release do produto</b>. 
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp Um <b>Release</b>
            se trata de uma entrega do produto em desenvolvimento, sendo às vezes <b>necessário por questões
            contratuais</b>, eventos, roadmaps e necessidades de mercado.
            <br><br>
            &nbsp  &nbsp  &nbsp  &nbsp Releases, como partes ou demonstrações de um produto, podem ser <b>importantes para um rápido
            feedback</b>, evitando com que seja desenvolvido elementos desnecessários no produto e <b>rapidamente</b>
            corrigido erros ou desapontamentos por parte do cliente.
            <br><br>
            Essas Releases são planejadas na Release Planning Meeting, onde todo o <b>Time participa</b>. 
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp Ela, por mais
            que pareça ser voltada <b>completamente a negócios</b>, ajuda o Time a <b>enxergar</b> melhor o produto em
            grupo e assim os fazendo seguir a mesma direção.  
            
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp Este planejamento não tem um dia certo ou
            duração, podendo durar dias, mas vale pontuar que um maior tempo nem sempre é necessariamente
            melhor para esse momento. 
            
        </div>
       
    </div>

    </div>
    <div class="content">
        <div>
            <a href="/conteudo2" ><img class="seta" src="static/imagens/seta_esq.png" alt=""></a>            
        </div>
        <div>
            <a href="/conteudo4"><img class="seta" src="static/imagens/seta_dir.png" alt=""></a>
        </div>
    </div>
</div>
{% endblock %}