<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Livvic:wght@100;400;700&display=swap" rel="stylesheet">


</head>
<body>
    
<div class="sub_header_links">
    <!--shlt: sub_header_links_txt -->
    <a class="shlt" href="">Sprints</a> <a class="shlt" href="">Daily Scrum</a> <a class="shlt" href="">Sprint Review</a>
</div>

<div class="box">
    <i><h1 class="box_txt">EVENTOS DE SCRUM</h1></i>
</div>

<div>

    <h1 class="txt_topicos"><b><i>Introdução</i></b></h1>
    <p class="txt_basico">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

</div>

<hr class="hr_int">

<div class="div_geral">
    <div class="div_left">
        <img class="img" src="images/img1.png" alt="">
    </div>

    <div class="div_right" id="div_a">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium quibusdam omnis qui blanditiis rem voluptas, fugiat alias nam rerum, vitae a eius consequuntur aliquid et deserunt ullam magni autem beatae.</p>
    </div>
</div>
  




</body>
</html>