{% extends 'base.html' %}
{% block navbar %}
{% block title %}
<title> DoR x DoD </title>
{% endblock %}
{% block navtitle %}
    <b class="title">Capítulo 4 - DoR x DoD</b>
{% endblock %}
<div id="page-content">
    <div class="banner">
        <h1>DoR x DoD</h1>
    </div>

    <div class="content">
        <div id="Scrum">
            <h1 id="PB" class="content h1">Definition of Ready</h1>
            <h3 class="content h3">"Trazendo consistência e metas."</h3>
            &nbsp  &nbsp  &nbsp  &nbsp Sempre antes de iniciar uma <b>história de usuário</b>, é necessário ter conhecimento se a equipe está para produzí-la, é então que o papel do DoR se faz necessário.
            O DoR ou Definition of Ready, é uma <b>definição de critérios necessários para que uma história possa ser iniciada.</b>
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp O primeiro passo a se seguir para a produção do DoR é identificar os fatores crusciais fazendo as seguintes perguntas:
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp 
            <ul> 
                <li> O que meu time precisa para o início do desenvolvimento? </li>
                <li> O que já deve estar pronto para o início do desenvolvimento? </li>
                <li> Quais as dependências (acessos, ferramentas, documentação e ambientes) são necessários para o desenvolvimento? </li>
                <li> O que precisa ser permitido e aprovado antes do início do desenvolvimento? </li>
                <li> Quais práticas e técnicas precisam ser feitas para o início do desenvolvimento? </li>
            </ul>
        </div>
        
        <div id="Scrum">
            <h1 id="PB" class="content h1">Definition of Done</h1>
            <h3 class="content h3">"Trazendo consistência e metas."</h3>
            &nbsp  &nbsp  &nbsp  &nbsp O Scrum não define quaisquer práticas de engenharia de software para o Development Team, mas
            recomenda sempre o uso de práticas ágeis <b>que garantam a qualidade do produto desenvolvido.</b>
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp Assim,
            mediante as práticas adotadas pelo Time, tem-se a definição do que é uma <b>funcionalidade “pronta”</b>,
            código testado unitariamente, código testado mediante teste de aceitação, código revisto e assim por
            diante.
            <br>
            &nbsp  &nbsp  &nbsp  &nbsp No mínimo, o Definition of Done deve conter o <b>“potencialmente entregável”.</b>

            <br><br>

            &nbsp  &nbsp  &nbsp  &nbsp  Uma funcionalidade só é considerada pronta se tiver passada por todas as <b>etapas definidas</b> pelo Time
            de Desenvolvimento, assim também sendo necessária a clara noção de todo o Time Scrum do que é
            considerado pronto. Uma funcionalidade inacabada volta ao <b>Product Backlog</b> para ser continuada na
            próxima Sprint.
        </div>
    </div>

    <div class="content">
        <div>
            <a href="/replame" ><img class="seta" src="static/imagens/seta_esq.png" alt=""></a>
        </div>
        <div>
            <a href="/probacklog" ><img class="seta" src="static/imagens/seta_dir.png" alt=""></a>
        </div>
    </div>
</div>
{% endblock %}