{% extends 'base.html' %}
{% block navbar %}
{% block title %}
<title> Development Team </title>
{% endblock %}
{% block navtitle %}
<b class="title">Capítulo 2 - Dev Team</b>
{% endblock %}
<div id="page-content">
    <div class="banner">
            <h1>DEVELOPMENT TEAM</h1>
    </div>

    <div class="content">
        <div id="Scrum">
            <h1 id="DT" class="content h1">Dev Team</h1>
            <h3 class="content h3">"Os Criadores de valor em ação."</h3>
            &nbsp  &nbsp  &nbsp  &nbsp O Time de Desenvolvimento é o conjunto de todos os membros responsáveis pelo desenvolvimento do projeto do Scrum, sendo composto por diversos perfis profissionais que vão compor a equipe como analistas, designers, desenvolvedores, arquitetos, testadores, etc. Com isso, o time deve ser autossuficiente para conseguir alcançar todas as metas das Sprints<br><br>
            &nbsp  &nbsp  &nbsp  &nbsp O Dev Team é responsável por desenvolver os incrementos apresentáveis do produto e decidir o tamanho de cada item do Product Backlog. Também é essencial que o time seja auto-gerenciado e auto-organizado, isso significa que nem o Scrum Master tem que definir como a equipe deve desenvolver os itens do Backlog para torná-los algo entregável, assim, para que tudo ocorra bem, os membros da equipe têm que ter uma boa relação entre si e uma clara comunicação. Nenhum membro pode ocultar ou mentir o que esá sendo feito para não atrapalhar o projeto como um todo.<br><br>
            &nbsp  &nbsp  &nbsp  &nbsp O auto-gerenciamento do time vem da capacidade de gernciarem as tarefas e o tempo de cada um da equipe, assim como assegurar a qualidade do trabalho entregue. Para que o gerenciamento seja mais fácil, é recomendável que um Time de Desenvolvimento não contenha menos de três pessoas ou mais que nove, caso contrário, a distribuição de tarefas será bem mais difícil.<br><br>
                
            <h3>Um time sempre passa por <b>4 estágios:</b> </h3>
            <ul>
                <li><b>Forming:</b> Momento de formação da equipe, onde os membro ainda não se conhecem.</li>
                <li><b>Storming:</b> Nessa fase os membros se conhecem melhor, descobrindo seus hábitos e comportamento.</li>
                <li><b>Norming:</b> É onde a equipe começa o auto-gerenciamento, definindo regras e normas entre eles.</li>
                <li><b>Performing: </b> É o momento onde o time começa a atuar em conjunto, tendo uma melhor performance em seu desenvolvimento.</li>
            </ul>
            
        </div>
        <div>
            <img id="img" src="../static/imagens/dev.png">  <br><br><br><br><br><br><br><br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/QcEQL_-mRbA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <div class="content">
        <div>
            <a href="/sm" ><img class="seta" src="static/imagens/seta_esq.png" alt=""></a>            
        </div>
        <div>
            <a href="/exame2"><img class="seta" src="static/imagens/seta_dir.png" alt=""></a>
        </div>
    </div>
</div>
{% endblock %}