{% extends 'base.html' %}
{% block navbar %}
{% block title %}
<title>Exame 3</title>
{% endblock %}
{% block navtitle %}
<b class="title">Exame - Capítulo 3</b>
{% endblock %}


 <h1 class="content h1">Exame de validação de compreensão</h1>
<form method="POST">
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 1 -->1 - Um dos eventos do Scrum é a Sprint, uma das partes mais essenciais da metolodogia. Sabendo da importância da Sprint qual das opções tem a melhor definição?
            </p>
            <br>
        
            <div class="qt">
          
                <input name="qt1" class="radio_box" id="1alt1" type="radio" value=false> <span class="txt_qt"> Inspeção<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt1" class="radio_box" id="1alt2" type="radio" value=false> <span class="txt_qt"> Organização <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt1" class="radio_box" id="1alt3" type="radio" value=false> <span class="txt_qt"> Independência<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt1" class="radio_box" id="1alt4" type="radio" value=true> <span class="txt_qt"> Transpência<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
<br><br>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 1  -->2 - A Sprint é container que possuem todos os outros eventos, um desses eventos é o Sprint Plannig Meeting,nesse evento o que os integrantes do Time Scrum fazem?
            </p>
            <br>
        
            <div class="qt">
          
                <input name="qt2" class="radio_box" id="2alt1" type="radio" value=true> <span class="txt_qt"> Organização<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt2" class="radio_box" id="2alt2" type="radio" value=false> <span class="txt_qt"> Independência <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt2" class="radio_box" id="2alt3" type="radio" value=false> <span class="txt_qt"> Adaptação<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt2" class="radio_box" id="2alt4" type="radio" value=false> <span class="txt_qt"> Inspeção<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
<br><br>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 1  -->3 - A Sprint Planning Meeting é dividida em duas partes, cada uma com duração fixa correspondente à metade da duração total. Cada parte responde uma pergunta, a primeira é "O que será entregue no Incremento resultante nesta Sprint?" e qual a segunda pergunta a ser feita?
            </p>
            <br>
        
            <div class="qt">
          
                <input name="qt3" class="radio_box" id="3alt1" type="radio" value=false> <span class="txt_qt"> O Scrum Master por ser quem mais sabe sobre o Srum é quem gerencia o time de desenvolvimento.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt3" class="radio_box" id="3alt2" type="radio" value=false> <span class="txt_qt"> O scrum possui pouco papéis mas bem definidos e não há cargos, então deve haver autonomia e produtividade dos membros sem ter que ficar esperando ordens de um chefe/gerente. <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt3" class="radio_box" id="3alt3" type="radio" value=true> <span class="txt_qt"> Para funcionar bem o Scrum precisa de um membro que genrencie e dite as ações a serem feitas.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt3" class="radio_box" id="3alt4" type="radio" value=false> <span class="txt_qt"> O Product Owner por ser quem entra em cliente final é quem gerencia o time de desenvolvimento<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
<br><br>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 2  -->4 - A Daily Scrum é uma inspeção que deve ser feito diariamente e possui muita importância para o andamento e produtividade do projeto. Sabendo da importância da Daily Scrum, escolha a alternativa que melhor responde à qual é o propósito desse evento?
            </p>
            <br>
        
            <div class="qt">
          
                <input name="qt4" class="radio_box" id="4alt1" type="radio" value=false> <span class="txt_qt"> Organização,Persistência, calma e leveza.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt4" class="radio_box" id="4alt2" type="radio" value=false> <span class="txt_qt"> Persistência, independência, paciência e clarividência. <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt4" class="radio_box" id="4alt3" type="radio" value=true> <span class="txt_qt"> Organização, otimização, mecanicanização e padronização. <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt4" class="radio_box" id="4alt4" type="radio" value=false> <span class="txt_qt"> Foco, coragem, Sinceridade, Comprometimento e Respeito.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
<br><br>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 2 -->5 - As Sprints possuem uma duração fixa que vai até um certo limite. Sabendo disso qual o tamanho máximo das Sprints?
            </p>
            <br>     
            <div class="qt">
          
                <input name="qt5" class="radio_box" id="5alt1" type="radio" value=false> <span class="txt_qt">  O valor único da pessoa e a interação do grupo mais do que os processos e as ferramentas.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt5" class="radio_box" id="5alt2" type="radio" value=false> <span class="txt_qt"> Os processos e as ferramentas são mais importantes porque são elas que geram resultados. <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt5" class="radio_box" id="5alt3" type="radio" value=false> <span class="txt_qt"> Os processos e as ferramentas não possuem valor nenhum.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt5" class="radio_box" id="5alt4" type="radio" value=true> <span class="txt_qt"> Os indivíduos e as interações tem o mesmo valor que os processos e ferramentas.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
<br><br>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 2 -->6 - Um dos artefatos do Scrum é o Product Backlog, algo que somete o Product Owner pode mexer. Escolha a alternativa que melhor define o que é um Product Backlog.
            </p>
            <br>       
            <div class="qt">
          
                <input name="qt6" class="radio_box" id="6alt1" type="radio" value=false> <span class="txt_qt"> O software deve ser entregue primeiro porque é mais facíl e a documentação não tem nenhuma importância.!--<!--ADICIONAR ALTERNATIVA AQUI--></span><br><br>
                <input name="qt6" class="radio_box" id="6alt2" type="radio" value=false> <span class="txt_qt"> A documentação deve ser prioridade por ter maior dificuldade e importância.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt6" class="radio_box" id="6alt3" type="radio" value=false> <span class="txt_qt"> A documentação possui para o cliente o mesmo valor e importância que o funcionamento do software.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt6" class="radio_box" id="6alt4" type="radio" value=true> <span class="txt_qt"> Que o Software possui mais valor agregado do que a documentação pois é o software que pode trazer retorno financeiro.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
<br><br>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 3 -->7 - Escolha uma das alternativas que não é um artefato do Srum.
            </p>
            <br>
        
            <div class="qt">
          
                <input name="qt7" class="radio_box" id="7alt1" type="radio" value=false> <span class="txt_qt"> Empatia<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt7" class="radio_box" id="7alt2" type="radio" value=false> <span class="txt_qt"> Organização <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt7" class="radio_box" id="7alt3" type="radio" value=true> <span class="txt_qt"> Transparência<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt7" class="radio_box" id="7alt4" type="radio" value=false> <span class="txt_qt"> Inspecão<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
<br><br>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 3 --> 8 - O Burndown Chart é um dos artefatos do Scrum que ajuda o Development Team no autogerenciamento, mas ele só permite isso porque no Burndown Chart é feito?
            <br>
        
            <div class="qt">
          
                <input name="qt8" class="radio_box" id="8alt1" type="radio" value=false> <span class="txt_qt"> Que a melhor forma de responder as mudanças é seguir o planejamento sem fazer alterações.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt8" class="radio_box" id="8alt2" type="radio" value=false> <span class="txt_qt"> Que saber se adaptar as mudanças e escolher a melhor solução é mais importante que apenas seguir o plano.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt8" class="radio_box" id="8alt3" type="radio" value=true> <span class="txt_qt"> Que seguir o plano não tem nenhuma forma de valor para as ações.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt8" class="radio_box" id="8alt4" type="radio" value=false> <span class="txt_qt"> Que adaptação as mudanças só devem acontecer se tiverem dentro do planejado. <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
        
<br><br>    
     
            <button type="submit" id="btn_exame"><span id="txt_btn_exame">Enviar</span></button>
        </form>


        <br><br><br><br><br>

{% endblock %}  