{% extends 'base.html' %}
{% block navbar %}
{% block title %}
<title>Teste 3</title>
{% endblock %}
{% block navtitle %}
<b class="title">Teste - Eventos do Scrum</b>
{% endblock %}

<div id="page-content">
    <h1 class="content h1">Teste de compreensão</h1>
    <form method="POST">
        <div class="row">
            <div class="box_teste">
                <p class="txt_box">
                    <!-- ADICIONAR PERGUNTA AQUI tema 1 -->1 - Um dos eventos do Scrum é a Sprint, uma das partes mais essenciais da metolodogia. Sabendo da importância da Sprint qual das opções tem a melhor definição?
                </p>
                <br>
            
                <div class="qt">
            
                    <input name="qt1" class="radio_box" id="1alt1" type="radio" value=false> <span class="txt_qt"> São periodos de reuniões e conversas sobre o que foi feito diariamente, dividos sem uma duração fixa.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt1" class="radio_box" id="1alt2" type="radio" value=false> <span class="txt_qt"> São ciclos de estudos e aprendizados para obter conhecimentos sobre novas ferramentas, dividos com uma duração fixa.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt1" class="radio_box" id="1alt3" type="radio" value=false> <span class="txt_qt"> São momentos onde o grupo se reune com o cliente para tomara decisões sobre o produto final, dividos sem uma duração fixa.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt1" class="radio_box" id="1alt4" type="radio" value=true> <span class="txt_qt"> São ciclos de desenvolvimentos de incrementos potencialmente entregáveis do produto, dividos com uma duração fixa.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
            
                </div>
            </div>
        </div>
    <br><br>
        <div class="row">
            <div class="box_teste">
                <p class="txt_box">
                    <!-- ADICIONAR PERGUNTA AQUI tema 1  -->2 - A Sprint é container que possuem todos os outros eventos, um desses eventos é o Sprint Plannig Meeting, nesse evento o que os integrantes do Time Scrum fazem?
                </p>
                <br>
            
                <div class="qt">
            
                    <input name="qt2" class="radio_box" id="2alt1" type="radio" value=true> <span class="txt_qt"> Se reunem para planejar o que será feito naquela Sprint.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt2" class="radio_box" id="2alt2" type="radio" value=false> <span class="txt_qt"> Se reunem para debater sobre a produtividade dos membros.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt2" class="radio_box" id="2alt3" type="radio" value=false> <span class="txt_qt"> Se reunem para comemorar a entrega da sprint anterior.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt2" class="radio_box" id="2alt4" type="radio" value=false> <span class="txt_qt"> Se reunem para escolher o melhor integrante da sprint.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
            
                </div>
            </div>
        </div>
    <br><br>
        <div class="row">
            <div class="box_teste">
                <p class="txt_box">
                    <!-- ADICIONAR PERGUNTA AQUI tema 1  -->3 - A Sprint Planning Meeting é dividida em duas partes, cada uma com duração fixa correspondente à metade da duração total. Cada parte responde uma pergunta, a primeira é "O que será entregue no Incremento resultante nesta Sprint?" e qual a segunda pergunta a ser feita?
                </p>
                <br>
            
                <div class="qt">
            
                    <input name="qt3" class="radio_box" id="3alt1" type="radio" value=false> <span class="txt_qt"> Qual é o valor do Incremento desta Sprint?<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt3" class="radio_box" id="3alt2" type="radio" value=false> <span class="txt_qt"> Até quando deve ser entregue O Incremento dessa Sprint?<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt3" class="radio_box" id="3alt3" type="radio" value=true> <span class="txt_qt"> Como faremos para entregar o Incremento nesta Sprint?<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt3" class="radio_box" id="3alt4" type="radio" value=false> <span class="txt_qt"> Quem será o líder responsável pelo o Incremento?<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
            
                </div>
            </div>
        </div>
    <br><br>
        <div class="row">
            <div class="box_teste">
                <p class="txt_box">
                    <!-- ADICIONAR PERGUNTA AQUI tema 2  -->4 - A Daily Scrum é uma inspeção que deve ser feito diariamente e possui muita importância para o andamento e produtividade do projeto. Sabendo da importância da Daily Scrum, escolha a alternativa que melhor responde à qual é o propósito desse evento?
                </p>
                <br>
            
                <div class="qt">
            
                    <input name="qt4" class="radio_box" id="4alt1" type="radio" value=false> <span class="txt_qt"> Tem o intuito de reunir o grupo para avaliar os integrantes que estão produzindo menos.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt4" class="radio_box" id="4alt2" type="radio" value=false> <span class="txt_qt"> Tem o objetivo de unir o time para avaliar o membro mais produtivo e dar um feedback positivo para ele.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt4" class="radio_box" id="4alt3" type="radio" value=true> <span class="txt_qt"> Tem o objetivo de cada membro fazer uma autoavaliação sobre o que foi feito e que será feito e se há impedimentos.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt4" class="radio_box" id="4alt4" type="radio" value=false> <span class="txt_qt"> Tem o intuito de reunir o grupo para escolher os incrementos mais importantes que produto final precisa possuir.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
            
                </div>
            </div>
        </div>
    <br><br>
        <div class="row">
            <div class="box_teste">
                <p class="txt_box">
                    <!-- ADICIONAR PERGUNTA AQUI tema 2 -->5 - As Sprints possuem uma duração fixa que vai até um certo limite. Sabendo disso qual o tamanho máximo das Sprints?
                </p>
                <br>     
                <div class="qt">
            
                    <input name="qt5" class="radio_box" id="5alt1" type="radio" value=false> <span class="txt_qt"> De até 45 dias. <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt5" class="radio_box" id="5alt2" type="radio" value=false> <span class="txt_qt"> De até 15 dias.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt5" class="radio_box" id="5alt3" type="radio" value=false> <span class="txt_qt"> De até uma semana.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt5" class="radio_box" id="5alt4" type="radio" value=true> <span class="txt_qt"> De até um mês.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
            
                </div>
            </div>
        </div>
    <br><br>
        <div class="row">
            <div class="box_teste">
                <p class="txt_box">
                    <!-- ADICIONAR PERGUNTA AQUI tema 2 -->6 - Um dos artefatos do Scrum é o Product Backlog, algo que somete o Product Owner pode mexer. Escolha a alternativa que melhor define o que é um Product Backlog.
                </p>
                <br>       
                <div class="qt">
            
                    <input name="qt6" class="radio_box" id="6alt1" type="radio" value=false> <span class="txt_qt"> Uma lista ordenada de itens por ordem de importância,além de ser uma lista com apenas as ferramentas a serem utilizadas.<!--ADICIONAR ALTERNATIVA AQUI--></span><br><br>
                    <input name="qt6" class="radio_box" id="6alt2" type="radio" value=false> <span class="txt_qt"> Uma lista ordenada de itens por ordem de integrantes,além de ser uma lista adaptavel possuem itens funcionais e não funcionais.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt6" class="radio_box" id="6alt3" type="radio" value=false> <span class="txt_qt"> Uma lista ordenada de itens por ordem de dificuldade,além de ser uma lista adaptavel possuem itens funcionais e não funcionais.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt6" class="radio_box" id="6alt4" type="radio" value=true> <span class="txt_qt"> Uma lista ordenada de itens por ordem de importância,além de ser uma lista adaptavel possuem itens funcionais e não funcionais.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
            
                </div>
            </div>
        </div>
    <br><br>
        <div class="row">
            <div class="box_teste">
                <p class="txt_box">
                    <!-- ADICIONAR PERGUNTA AQUI tema 3 -->7 - Escolha uma das alternativas que não é um artefato do Srum.
                </p>
                <br>
            
                <div class="qt">
            
                    <input name="qt7" class="radio_box" id="7alt1" type="radio" value=false> <span class="txt_qt"> Product Increment<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt7" class="radio_box" id="7alt2" type="radio" value=false> <span class="txt_qt"> Definition of Done<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt7" class="radio_box" id="7alt3" type="radio" value=true> <span class="txt_qt"> Product Master<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt7" class="radio_box" id="7alt4" type="radio" value=false> <span class="txt_qt"> Burndown Charts<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
            
                </div>
            </div>
        </div>
    <br><br>
        <div class="row">
            <div class="box_teste">
                <p class="txt_box">
                    <!-- ADICIONAR PERGUNTA AQUI tema 3 --> 8 - O Burndown Chart é um dos artefatos do Scrum que ajuda o Development Team no autogerenciamento, mas ele só permite isso porque no Burndown Chart é feito?
                <br>
            
                <div class="qt">
            
                    <input name="qt8" class="radio_box" id="8alt1" type="radio" value=false> <span class="txt_qt"> A comparação entre o trabalho individual e o grupal mostrado em gráfico e assim mostra a evolução diária.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt8" class="radio_box" id="8alt2" type="radio" value=false> <span class="txt_qt"> A comparação entre o trabalho estimado e o realizado mostrado em gráfico e assim mostra a evolução mensal.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt8" class="radio_box" id="8alt3" type="radio" value=true> <span class="txt_qt"> A comparação entre o trabalho estimado e o realizado mostrado em gráfico e assim mostra a evolução diária.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt8" class="radio_box" id="8alt4" type="radio" value=false> <span class="txt_qt"> A comparação entre o trabalho estimado e as metas do cliente mostrado em gráfico e assim mostra a evolução diária.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
            
                </div>
            </div>
        </div>
            
    <br><br>    
        
                <button type="submit" id="btn_exame"><span id="txt_btn_exame">Enviar</span></button>
            </form>


            <br><br><br><br><br>
</div>
{% endblock %}  