{% extends 'base.html' %}
{% block navbar %}
{% block title %}
<title>Exame 4</title>
{% endblock %}
{% block navtitle %}
<b class="title">Exame - Capítulo 4</b>
{% endblock %}


 <h1 class="content h1">Exame de validação de compreensão</h1>
<form method="POST">
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 1 -->1 - A auto-organização é um fator que da aos times Scrum uma maior capacidade de resolver problemas e serem produtivos trazendo muita autonomia mas muita responsabilidade consequentemente. Porém para que isso aconteça é necessário que todos trabalhem em busca de uma ...?
            </p>
            <br>
        
            <div class="qt">
          
                <input name="qt1" class="radio_box" id="1alt1" type="radio" value=true> <span class="txt_qt"> Inspeção<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt1" class="radio_box" id="1alt2" type="radio" value=false> <span class="txt_qt"> Organização <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt1" class="radio_box" id="1alt3" type="radio" value=false> <span class="txt_qt"> Independência<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt1" class="radio_box" id="1alt4" type="radio" value=false> <span class="txt_qt"> Transpência<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
<br><br>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 1  -->2 - Qual das alternativas a seguir não é possivel ser utilizada a auto-organização:
            </p>
            <br>
        
            <div class="qt">
          
                <input name="qt2" class="radio_box" id="2alt1" type="radio" value=false> <span class="txt_qt"> Organização<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt2" class="radio_box" id="2alt2" type="radio" value=false> <span class="txt_qt"> Independência <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt2" class="radio_box" id="2alt3" type="radio" value=true> <span class="txt_qt"> Adaptação<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt2" class="radio_box" id="2alt4" type="radio" value=false> <span class="txt_qt"> Inspeção<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
<br><br>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 1  -->3 - Uma das etapas que é realizada no Scrum é a estimativa de esforço/tempo para realizar as tarefas, esta estimativa é feita com todo o grupo e nela é feita uma votação e todos entram em acordo.Para ser realizada essa estimativa tem uma forma que é a mais utilizada. Qual é a essa ferramenta?
            </p>
            <br>
        
            <div class="qt">
          
                <input name="qt3" class="radio_box" id="3alt1" type="radio" value=true> <span class="txt_qt"> O Scrum Master por ser quem mais sabe sobre o Srum é quem gerencia o time de desenvolvimento.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt3" class="radio_box" id="3alt2" type="radio" value=false> <span class="txt_qt"> O scrum possui pouco papéis mas bem definidos e não há cargos, então deve haver autonomia e produtividade dos membros sem ter que ficar esperando ordens de um chefe/gerente. <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt3" class="radio_box" id="3alt3" type="radio" value=false> <span class="txt_qt"> Para funcionar bem o Scrum precisa de um membro que genrencie e dite as ações a serem feitas.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt3" class="radio_box" id="3alt4" type="radio" value=false> <span class="txt_qt"> O Product Owner por ser quem entra em cliente final é quem gerencia o time de desenvolvimento<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
<br><br>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 2  -->4 - Segundo	Peter Pfeiffer no livro	Facilitação	de Projetos, “um facilitador é um catalisador para as diversas idéias que se apresentam	em um grupo”. Ter um integrante facilitador no grupo impulsiona e o potencializa as outras pessoas dos grupos com suas atitudes. Sabendo disso escolha a alternativa que não corresponde com uma atitude de um facilitador.
            </p>
            <br>
        
            <div class="qt">
          
                <input name="qt4" class="radio_box" id="4alt1" type="radio" value=false> <span class="txt_qt"> Organização,Persistência, calma e leveza.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt4" class="radio_box" id="4alt2" type="radio" value=false> <span class="txt_qt"> Persistência, independência, paciência e clarividência. <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt4" class="radio_box" id="4alt3" type="radio" value=true> <span class="txt_qt"> Organização, otimização, mecanicanização e padronização. <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt4" class="radio_box" id="4alt4" type="radio" value=false> <span class="txt_qt"> Foco, coragem, Sinceridade, Comprometimento e Respeito.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
<br><br>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 2 -->5 - Apesar de não ser oficialmente uma cerimônia Scrum, a Reunião de Visão do produto permite ao Product Owner expôr ao Development Team e ao Scrum Master a visão do produto que norteará o projeto. Nesta reunião, o Product Owner pode coletar sugestões e idéias para compor o Product Backlog. Qual importância dessa reunião?
            </p>
            <br>     
            <div class="qt">
          
                <input name="qt5" class="radio_box" id="5alt1" type="radio" value=false> <span class="txt_qt">  O valor único da pessoa e a interação do grupo mais do que os processos e as ferramentas.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt5" class="radio_box" id="5alt2" type="radio" value=false> <span class="txt_qt"> Os processos e as ferramentas são mais importantes porque são elas que geram resultados. <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt5" class="radio_box" id="5alt3" type="radio" value=true> <span class="txt_qt"> Os processos e as ferramentas não possuem valor nenhum.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt5" class="radio_box" id="5alt4" type="radio" value=false> <span class="txt_qt"> Os indivíduos e as interações tem o mesmo valor que os processos e ferramentas.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
<br><br>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 2 -->6 - Uma das melhores formas de se estimar o esforço é utilizando o Planning Poker. Isso porque ele combina a opinião de experts, analogia e desagregação em uma abordagem divertida na estimação de itens ou User Stories e elimina a influência que um membro do Development Team possa exercer sobre outros.Sabendo disso qual a escala mais utilizada na estimativa utilizando-se Planning Poker?
            </p>
            <br>       
            <div class="qt">
          
                <input name="qt6" class="radio_box" id="6alt1" type="radio" value=false> <span class="txt_qt"> O software deve ser entregue primeiro porque é mais facíl e a documentação não tem nenhuma importância.!--<!--ADICIONAR ALTERNATIVA AQUI--></span><br><br>
                <input name="qt6" class="radio_box" id="6alt2" type="radio" value=false> <span class="txt_qt"> A documentação deve ser prioridade por ter maior dificuldade e importância.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt6" class="radio_box" id="6alt3" type="radio" value=true> <span class="txt_qt"> A documentação possui para o cliente o mesmo valor e importância que o funcionamento do software.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt6" class="radio_box" id="6alt4" type="radio" value=false> <span class="txt_qt"> Que o Software possui mais valor agregado do que a documentação pois é o software que pode trazer retorno financeiro.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
<br><br>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 3 -->7 - Ao descrever os itens de negócios para o Product Backlog, o Product Owner pode optar por diversos formatos, tais como requisitos, Use Cases, features (FDD), User Stories, entre outros, sendo este último um dos mais utilizados. Isso porque um User Story descreve uma funcionalidade que tenha valor ao cliente, mas em termos de negócios – e não de uma forma técnica. Assim, um User Story é composta de três aspectos, qual desses não é um dos aspectos?
            </p>
            <br>
        
            <div class="qt">
          
                <input name="qt7" class="radio_box" id="7alt1" type="radio" value=false> <span class="txt_qt"> Empatia<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt7" class="radio_box" id="7alt2" type="radio" value=false> <span class="txt_qt"> Organização <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt7" class="radio_box" id="7alt3" type="radio" value=true> <span class="txt_qt"> Transparência<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt7" class="radio_box" id="7alt4" type="radio" value=false> <span class="txt_qt"> Inspecão<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
<br><br>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 3 --> 8 - Como normalmente User Stories são escritos em cartões de notas, convencionou-se a utilização dos 3Cs para User Stories, quais são esses 3 C's ?
            <br>
        
            <div class="qt">
          
                <input name="qt8" class="radio_box" id="8alt1" type="radio" value=false> <span class="txt_qt"> Que a melhor forma de responder as mudanças é seguir o planejamento sem fazer alterações.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt8" class="radio_box" id="8alt2" type="radio" value=false> <span class="txt_qt"> Que saber se adaptar as mudanças e escolher a melhor solução é mais importante que apenas seguir o plano.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt8" class="radio_box" id="8alt3" type="radio" value=false> <span class="txt_qt"> Que seguir o plano não tem nenhuma forma de valor para as ações.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt8" class="radio_box" id="8alt4" type="radio" value=true> <span class="txt_qt"> Que adaptação as mudanças só devem acontecer se tiverem dentro do planejado. <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
        
<br><br>    
     
            <button type="submit" id="btn_exame"><span id="txt_btn_exame">Enviar</span></button>
        </form>


        <br><br><br><br><br>

{% endblock %}  