{% extends 'base.html' %}
{% block navbar %}
{% block title %}
<title>Exame 4</title>
{% endblock %}
{% block navtitle %}
<b class="title">Exame - Capítulo 4</b>
{% endblock %}

<div id="page-content">
    <h1 class="content h1">Exame de validação de compreensão</h1>
    <form method="POST">
        <div class="row">
            <div class="box_teste">
                <p class="txt_box">
                    <!-- ADICIONAR PERGUNTA AQUI tema 1 -->1 - A auto-organização é um fator que da aos times Scrum uma maior capacidade de resolver problemas e serem produtivos trazendo muita autonomia mas muita responsabilidade consequentemente. Porém para que isso aconteça é necessário que todos trabalhem em busca de uma ...?
                </p>
                <br>
            
                <div class="qt">
            
                    <input name="qt1" class="radio_box" id="1alt1" type="radio" value=true> <span class="txt_qt"> Meta Compartilhada.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt1" class="radio_box" id="1alt2" type="radio" value=false> <span class="txt_qt"> Organização fixa.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt1" class="radio_box" id="1alt3" type="radio" value=false> <span class="txt_qt"> Independência de comunicação.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt1" class="radio_box" id="1alt4" type="radio" value=false> <span class="txt_qt"> Interação Social<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
            
                </div>
            </div>
        </div>
    <br><br>
        <div class="row">
            <div class="box_teste">
                <p class="txt_box">
                    <!-- ADICIONAR PERGUNTA AQUI tema 1  -->2 - Qual das alternativas a seguir não é possivel ser utilizada a auto-organização:
                </p>
                <br>
            
                <div class="qt">
            
                    <input name="qt2" class="radio_box" id="2alt1" type="radio" value=false> <span class="txt_qt"> Na atribuição de tarefas.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt2" class="radio_box" id="2alt2" type="radio" value=false> <span class="txt_qt"> No Daily Scrum.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt2" class="radio_box" id="2alt3" type="radio" value=true> <span class="txt_qt"> Na reunião do time com cliente.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt2" class="radio_box" id="2alt4" type="radio" value=false> <span class="txt_qt"> Na definição dos itens que farão parte do Sprint Backlog.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
            
                </div>
            </div>
        </div>
    <br><br>
        <div class="row">
            <div class="box_teste">
                <p class="txt_box">
                    <!-- ADICIONAR PERGUNTA AQUI tema 1  -->3 - Uma das etapas que é realizada no Scrum é a estimativa de esforço/tempo para realizar as tarefas, esta estimativa é feita com todo o grupo e nela é feita uma votação e todos entram em acordo.Para ser realizada essa estimativa tem uma forma que é a mais utilizada. Qual é a essa ferramenta?
                </p>
                <br>
            
                <div class="qt">
            
                    <input name="qt3" class="radio_box" id="3alt1" type="radio" value=true> <span class="txt_qt"> Planning Poker<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt3" class="radio_box" id="3alt2" type="radio" value=false> <span class="txt_qt"> Planning Power<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt3" class="radio_box" id="3alt3" type="radio" value=false> <span class="txt_qt"> Power Statics<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt3" class="radio_box" id="3alt4" type="radio" value=false> <span class="txt_qt"> Planning Mental<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
            
                </div>
            </div>
        </div>
    <br><br>
        <div class="row">
            <div class="box_teste">
                <p class="txt_box">
                    <!-- ADICIONAR PERGUNTA AQUI tema 2  -->4 - Segundo	Peter Pfeiffer no livro	Facilitação	de Projetos, “um facilitador é um catalisador para as diversas idéias que se apresentam	em um grupo”. Ter um integrante facilitador no grupo impulsiona e o potencializa as outras pessoas dos grupos com suas atitudes. Sabendo disso escolha a alternativa que não corresponde com uma atitude de um facilitador.
                </p>
                <br>
            
                <div class="qt">
            
                    <input name="qt4" class="radio_box" id="4alt1" type="radio" value=false> <span class="txt_qt"> Otimizar processos de aprendizagem.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt4" class="radio_box" id="4alt2" type="radio" value=false> <span class="txt_qt"> Evitar que um grupo seja dominado por um indivíduo que se impõe.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt4" class="radio_box" id="4alt3" type="radio" value=true> <span class="txt_qt"> Evitar que o grupo tome decisões erradas, assumindo o geranciamento.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt4" class="radio_box" id="4alt4" type="radio" value=false> <span class="txt_qt"> Motivar as pessoas mais tímidas e proporcionar uma participação mais ativa.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
            
                </div>
            </div>
        </div>
    <br><br>
        <div class="row">
            <div class="box_teste">
                <p class="txt_box">
                    <!-- ADICIONAR PERGUNTA AQUI tema 2 -->5 - Apesar de não ser oficialmente uma cerimônia Scrum, a Reunião de Visão do produto permite ao Product Owner expôr ao Development Team e ao Scrum Master a visão do produto que norteará o projeto. Nesta reunião, o Product Owner pode coletar sugestões e idéias para compor o Product Backlog. Qual importância dessa reunião?
                </p>
                <br>     
                <div class="qt">
            
                    <input name="qt5" class="radio_box" id="5alt1" type="radio" value=false> <span class="txt_qt"> É importante para que todos dentro do Time Scrum saibam o quanto vão ganhar com o  projeto.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt5" class="radio_box" id="5alt2" type="radio" value=false> <span class="txt_qt"> É importante para que todos dentro do Time Scrum saibam o prazo de entrega do projeto.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt5" class="radio_box" id="5alt3" type="radio" value=true> <span class="txt_qt"> É importante para que todos dentro do Time Scrum saibam o direcionamento do projeto.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt5" class="radio_box" id="5alt4" type="radio" value=false> <span class="txt_qt"> É importante para que todos dentro do Time Scrum saibam as ferramentas obrigatorias a serem usadas.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
            
                </div>
            </div>
        </div>
    <br><br>
        <div class="row">
            <div class="box_teste">
                <p class="txt_box">
                    <!-- ADICIONAR PERGUNTA AQUI tema 2 -->6 - Uma das melhores formas de se estimar o esforço é utilizando o Planning Poker. Isso porque ele combina a opinião de experts, analogia e desagregação em uma abordagem divertida na estimação de itens ou User Stories e elimina a influência que um membro do Development Team possa exercer sobre outros.Sabendo disso qual a escala mais utilizada na estimativa utilizando-se Planning Poker?
                </p>
                <br>       
                <div class="qt">
            
                    <input name="qt6" class="radio_box" id="6alt1" type="radio" value=false> <span class="txt_qt"> Numeração Decimal<!--ADICIONAR ALTERNATIVA AQUI--></span><br><br>
                    <input name="qt6" class="radio_box" id="6alt2" type="radio" value=false> <span class="txt_qt"> Progressão Aritmética<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt6" class="radio_box" id="6alt3" type="radio" value=true> <span class="txt_qt"> Sequência de Fibonacci<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt6" class="radio_box" id="6alt4" type="radio" value=false> <span class="txt_qt"> Numeração Binária<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
            
                </div>
            </div>
        </div>
    <br><br>
        <div class="row">
            <div class="box_teste">
                <p class="txt_box">
                    <!-- ADICIONAR PERGUNTA AQUI tema 3 -->7 - Ao descrever os itens de negócios para o Product Backlog, o Product Owner pode optar por diversos formatos, tais como requisitos, Use Cases, features (FDD), User Stories, entre outros, sendo este último um dos mais utilizados. Isso porque um User Story descreve uma funcionalidade que tenha valor ao cliente, mas em termos de negócios – e não de uma forma técnica. Assim, um User Story é composta de três aspectos, qual desses não é um dos aspectos?
                </p>
                <br>
            
                <div class="qt">
            
                    <input name="qt7" class="radio_box" id="7alt1" type="radio" value=false> <span class="txt_qt"> Uma descrição escrita da história como um lembrete.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt7" class="radio_box" id="7alt2" type="radio" value=false> <span class="txt_qt"> Conversas sobre a história que servem para a detalhar<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt7" class="radio_box" id="7alt3" type="radio" value=true> <span class="txt_qt"> Conversas sobre a atribuição de tarefas para os integrantes.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt7" class="radio_box" id="7alt4" type="radio" value=false> <span class="txt_qt"> Testes que conduzem e documentam aspectos importantes da história e que podem determinar quando ela está completa<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
            
                </div>
            </div>
        </div>
    <br><br>
        <div class="row">
            <div class="box_teste">
                <p class="txt_box">
                    <!-- ADICIONAR PERGUNTA AQUI tema 3 --> 8 - Como normalmente User Stories são escritos em cartões de notas, convencionou-se a utilização dos 3Cs para User Stories, quais são esses 3 C's ?
                <br>
            
                <div class="qt">
            
                    <input name="qt8" class="radio_box" id="8alt1" type="radio" value=false> <span class="txt_qt"> Cartão, Compensação e Certificação.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt8" class="radio_box" id="8alt2" type="radio" value=false> <span class="txt_qt"> Catálogo, Conversação e Confirmação.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt8" class="radio_box" id="8alt3" type="radio" value=false> <span class="txt_qt"> Compreensão, Conversação e Confirmação.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                    <input name="qt8" class="radio_box" id="8alt4" type="radio" value=true> <span class="txt_qt"> Cartão, Conversação e Confirmação.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
            
                </div>
            </div>
        </div>
            
    <br><br>    
        
                <button type="submit" id="btn_exame"><span id="txt_btn_exame">Enviar</span></button>
            </form>


            <br><br><br><br><br>
</div>
{% endblock %}  