<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Livvic:wght@100;400;700&display=swap" rel="stylesheet">
    <link href="../static/styles/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/css.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Livvic:wght@100;400;700&display=swap" rel="stylesheet">
    <title>Exame Final</title>
</head>
<body>
    <!-- side bar \/ -->
    <div id="sidebar">
        <h2> Seleção de Capítulos </h2>
        <ul>
            <a href="\definicoes"><li>Capítulo 1 - Definições</li></a><br>
            <!-- <a href=""><li>Teste 1 - Definições</li></a><br> -->
            <a href="\papeis"><li>Capítulo 2 - Responsabilidades e papéis</li></a><br>
            <!-- <a href=""><li>Teste 2 - Responsabilidades e papeis</li></a><br> -->
            <a href="\eventos"><li>Capítulo 3 - Eventos do Scrum</li></a><br>
            <!-- <a href=""><li>Teste 3 - Eventos do Scrum</li></a><br> -->
            <a href="\conteudo4"><li>Capítulo 4 - Artefatos do Scrum</li></a><br>
            <!-- <a href=""><li>Teste 4 - Artefatos do Scrum</li></a><br> -->
            <a href="\examefinal"><li>Exame Final - Metodologia Scrum</li></a><br>
        </ul>
    </div>
    <header>
        <div class="nav">
            <div class="element">
                <button id="sidebar-toggle"><img src="../static/imagens/menu1.png"></button>
            </div>
        <div>

            <b class="title">Exame Final</b>

        </div>
            <div class="element">
                <a href="\index"><img src="../static/imagens/home1.png"></a>
            </div>
        </div>
    
    </header>

 <h1 class="content h1">Exame de validação de compreensão</h1>
<form method="POST">
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 1 -->1 - Visando obter uma maior produtividade, Qual dos pilares do Scrum deve ser usado para detectar problemas e verificar o andamento do projeto?
            </p>
            <br>
        
            <div class="qt">
          
                <input name="qt1" class="radio_box" id="1alt1" type="radio" value=true> <span class="txt_qt"> Inspeção<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt1" class="radio_box" id="1alt2" type="radio" value=false> <span class="txt_qt"> Organização <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt1" class="radio_box" id="1alt3" type="radio" value=false> <span class="txt_qt"> Independência<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt1" class="radio_box" id="1alt4" type="radio" value=false> <span class="txt_qt"> Transpência<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 1  -->2 - Uma das frases do Manifesto Ágil é a seguinte "Software em funcionamento mais que documentação abrangente",a partir dela pode se concluir que? 
            </p>
            <br>
        
            <div class="qt">
          
                <input name="qt2" class="radio_box" id="2alt1" type="radio" value=false> <span class="txt_qt"> A documentação possui para o cliente o mesmo valor e importância que o funcionamento do software.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt2" class="radio_box" id="2alt2" type="radio" value=false> <span class="txt_qt"> O software deve ser entregue primeiro porque é mais facíl e a documentação não tem nenhuma importância. <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt2" class="radio_box" id="2alt3" type="radio" value=true> <span class="txt_qt"> Que o Software possui mais valor agregado do que a documentação pois é o software que pode trazer retorno financeiro.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt2" class="radio_box" id="2alt4" type="radio" value=false> <span class="txt_qt"> A documentação deve ser prioridade por ter maior dificuldade e importância.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 1  -->3 - Quando no manifesto ágil aparece a seguinte frase'Responder a mudanças mais que seguir um plano", o que ela quer dizer?
            </p>
            <br>
        
            <div class="qt">
          
                <input name="qt3" class="radio_box" id="3alt1" type="radio" value=false> <span class="txt_qt"> Que a melhor forma de responder as mudanças é seguir o planejamento sem fazer alterações.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt3" class="radio_box" id="3alt2" type="radio" value=true> <span class="txt_qt"> Que saber se adaptar as mudanças e escolher a melhor solução é mais importante que apenas seguir o plano. <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt3" class="radio_box" id="3alt3" type="radio" value=false> <span class="txt_qt"> Que seguir o plano não tem nenhuma forma de valor para as ações.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt3" class="radio_box" id="3alt4" type="radio" value=false> <span class="txt_qt"> Que adaptação as mudanças só devem acontecer se tiverem dentro do planejado.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 2  -->4 - De quem é o papel responsável por gerenciar o Product Backlog e garantir o Retorno Sobre o investimento do produto?
            </p>
            <br>
        
            <div class="qt">
          
                <input name="qt4" class="radio_box" id="4alt1" type="radio" value=true> <span class="txt_qt"> Product Owner<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt4" class="radio_box" id="4alt2" type="radio" value=false> <span class="txt_qt"> Scrum Master <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt4" class="radio_box" id="4alt3" type="radio" value=false> <span class="txt_qt"> Gerenciador <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt4" class="radio_box" id="4alt4" type="radio" value=false> <span class="txt_qt"> lider do time de desenvolvimento<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 2 -->5 - Por que é bom e importante para um time de desenvolvimento ser composto por diferentes perfis profissionais como arquitetos, analistas, designers, desenvolvedores, testadores?
            </p>
            <br>
        
            <div class="qt">
          
                <input name="qt5" class="radio_box" id="5alt1" type="radio" value=true> <span class="txt_qt"> Para ter diferentes opiniões e pontos de vistas, além da experiência diversificada para trazer maior criatividade.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt5" class="radio_box" id="5alt2" type="radio" value=false> <span class="txt_qt"> Para cada um ficar na sua área e resolver os seus problemas. <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt5" class="radio_box" id="5alt3" type="radio" value=false> <span class="txt_qt"> Para não ter necessidade de interação já que cada um é especialista em sua área.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt5" class="radio_box" id="5alt4" type="radio" value=false> <span class="txt_qt"> Para ter mais pessoas e quanto mais pessoas mais  produtividade.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 2 -->6 - Em relação aos processos de criação do produto, quem é responsável pelas pequenas tarefas diárias, pelo andamento das ações,qualidade,prazo entre outros fatores do microgerenciamento da produção do produto?
resposta:Time de Desenvolvimento
            </p>
            <br>
        
            <div class="qt">
          
                <input name="qt6" class="radio_box" id="6alt1" type="radio" value=false> <span class="txt_qt"> Scrum Master<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt6" class="radio_box" id="6alt2" type="radio" value=false> <span class="txt_qt"> Gerenciador  <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt6" class="radio_box" id="6alt3" type="radio" value=false> <span class="txt_qt"> Product Owner<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt6" class="radio_box" id="6alt4" type="radio" value=true> <span class="txt_qt"> Time de Desenvolvimento<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 3 -->7 - A Daily Scrum é uma inspeção que deve ser feito diariamente e possui muita importância para o andamento e produtividade do projeto.Sabendo da importância da Daily Scrum, escolha a alternativa que melhor responde à qual é o propósito desse evento?
            </p>
            <br>
        
            <div class="qt">
          
                <input name="qt7" class="radio_box" id="7alt1" type="radio" value=false> <span class="txt_qt"> Tem o intuito de reunir o grupo para avaliar os integrantes que estão produzindo menos.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt7" class="radio_box" id="7alt2" type="radio" value=false> <span class="txt_qt"> Tem o objetivo de unir o time para avaliar o membro mais produtivo e dar um feedback positivo para ele. <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt7" class="radio_box" id="7alt3" type="radio" value=true> <span class="txt_qt"> Tem o objetivo de cada membro fazer uma autoavaliação sobre o que foi feito e que será feito e se há impedimentos.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt7" class="radio_box" id="7alt4" type="radio" value=false> <span class="txt_qt"> Tem o intuito de reunir o grupo para escolher os incrementos mais importantes que produto final precisa possuir.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 3 --> 8 - Um dos artefatos do Scrum é o Product Backlog, algo que somete o Product Owner pode mexer.Escolha a alternativa que melhor define o que é um Product Backlog.
            </p>
            <br>
        
            <div class="qt">
          
                <input name="qt8" class="radio_box" id="8alt1" type="radio" value=false> <span class="txt_qt"> Uma lista ordenada de itens por ordem de dificuldade,além de ser uma lista adaptavel possuem itens funcionais e não funcionais.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt8" class="radio_box" id="8alt2" type="radio" value=true> <span class="txt_qt"> Uma lista ordenada de itens por ordem de importância,além de ser uma lista adaptavel possuem itens funcionais e não funcionais. <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt8" class="radio_box" id="8alt3" type="radio" value=false> <span class="txt_qt"> Uma lista ordenada de itens por ordem de importância,além de ser uma lista com apenas as ferramentas a serem utilizadas.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt8" class="radio_box" id="8alt4" type="radio" value=false> <span class="txt_qt"> Uma lista ordenada de itens por ordem de integrantes,além de ser uma lista adaptavel possuem itens funcionais e não funcionais.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 3 -->9 - Escolha uma das alternativas que não é um artefato do Srum.
            </p>
            <br>
        
            <div class="qt">
          
                <input name="qt9" class="radio_box" id="9alt1" type="radio" value=true> <span class="txt_qt"> Product Master<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt9" class="radio_box" id="9alt2" type="radio" value=false> <span class="txt_qt"> Product Increment <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt9" class="radio_box" id="9alt3" type="radio" value=false> <span class="txt_qt"> Definition of Done<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt9" class="radio_box" id="9alt4" type="radio" value=false> <span class="txt_qt"> Burndown Charts<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 4 -->10 - A auto-organização é um fator que da aos times Scrum uma maior capacidade de resolver problemas e serem produtivos trazendo muita autonomia mas muita responsabilidade consequentemente.Porém para que isso aconteça é necessário que todos trabalhem em busca de uma ...?
            </p>
            <br>
        
            <div class="qt">
          
                <input name="qt10" class="radio_box" id="10alt1" type="radio" value=false> <span class="txt_qt"> Organização fixa.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt10" class="radio_box" id="10alt2" type="radio" value=false> <span class="txt_qt"> Independência de comunicação. <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt10" class="radio_box" id="10alt3" type="radio" value=true> <span class="txt_qt"> Meta Compartilhada.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt10" class="radio_box" id="10alt4" type="radio" value=false> <span class="txt_qt"> Interação Social<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 4 -->11 - Apesar de não ser oficialmente uma cerimônia Scrum, a Reunião de Visão do produto permite ao Product Owner expôr ao Development Team e ao Scrum Master a visão do produto que norteará o projeto. Nesta reunião, o Product Owner pode coletar sugestões e idéias para compor o Product Backlog. Qual importância dessa reunião?
            </p>
            <br>
        
            <div class="qt">
          
                <input name="qt11" class="radio_box" id="11alt1" type="radio" value=true> <span class="txt_qt">  É importante para que todos dentro do Time Scrum saibam o direcionamento do projeto. <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt11" class="radio_box" id="11alt2" type="radio" value=false> <span class="txt_qt"> É importante para que todos dentro do Time Scrum saibam o quanto vão ganhar com o  projeto. <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt11" class="radio_box" id="11alt3" type="radio" value=false> <span class="txt_qt"> É importante para que todos dentro do Time Scrum saibam o prazo de entrega do projeto. <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt11" class="radio_box" id="11alt4" type="radio" value=false> <span class="txt_qt"> É importante para que todos dentro do Time Scrum saibam as ferramentas obrigatorias a serem usadas. <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 4 -->12 - Ao descrever os itens de negócios para o Product Backlog, o Product Owner pode optar por diversos formatos, tais como requisitos, Use Cases, features (FDD), User Stories, entre outros, sendo este último um dos mais utilizados. Isso porque um User Story descreve uma funcionalidade que tenha valor ao cliente, mas em termos de negócios – e não de uma forma técnica. Assim, um User Story é composta de três aspectos, qual desses não é um dos aspectos?</p>
            <br>
        
            <div class="qt">
          
                <input name="qt12" class="radio_box" id="12alt1" type="radio" value=false> <span class="txt_qt"> Uma descrição escrita da história como um lembrete.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt12" class="radio_box" id="12alt2" type="radio" value=false> <span class="txt_qt"> Conversas sobre a história que servem para detalha-la. <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt12" class="radio_box" id="12alt3" type="radio" value=false> <span class="txt_qt"> Testes que conduzem e documentam aspectos importantes da história e que podem determinar quando ela está completa<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt12" class="radio_box" id="12alt4" type="radio" value=true> <span class="txt_qt"> Conversas sobre a atribuição de tarefas para os integrantes.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
            
            <button type="submit" id="btn_exame"><span id="txt_btn_exame">Enviar</span></button>
        </form>


        <br><br><br><br><br>
        <style>
            html, body {
              height: 100%;
              margin: 0;
              padding: 0;
            }
        
            .wrapper {
              position: relative;
            }
        
            .content {
              padding-bottom: 60px; /* Altura do footer */
            }
        
            .footer {
              background-color: #D181F0;
              padding: 20px;
              text-align: center;
              position: absolute;
              bottom: 0;
              width: 100%;}
        
        
        
        </style>
        <body>
                <div class="wrapper">
                    <footer class="footer">
                    <div class="container">
                      <span class="footer_txt">© 2023 Scrum Academy AReS. Todos os direitos reservados.</span>
                    </footer>
                </div>
              

    <script>
        const toggleButton = document.getElementById('sidebar-toggle');
        const sideBar = document.getElementById('sidebar');
        const pageContent = document.getElementById('page-content');

        toggleButton.addEventListener('click', ()=>{sideBar.classList.toggle('open')});
        pageContent.addEventListener('click', ()=>{sideBar.classList.remove('open')})
    </script>

</body>
</html>