{% extends 'base.html' %}
{% block navbar %}
{% block title %}
<title>Exame 2</title>
{% endblock %}
{% block navtitle %}
<b class="title">Exame - Capítulo 2</b>
{% endblock %}


 <h1 class="content h1">Exame de validação de compreensão</h1>
<form method="POST">
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 1 -->1 - De quem é o papel responsável por gerenciar o Product Backlog e garantir o Retorno Sobre o investimento do produto?
            </p>
            <br>
        
            <div class="qt">
          
                <input name="qt1" class="radio_box" id="1alt1" type="radio" value=true> <span class="txt_qt">Product Owner<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt1" class="radio_box" id="1alt2" type="radio" value=false> <span class="txt_qt"> Scrum Master <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt1" class="radio_box" id="1alt3" type="radio" value=false> <span class="txt_qt"> Gerenciador<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt1" class="radio_box" id="1alt4" type="radio" value=false> <span class="txt_qt"> Lider do time de desenvolvimento<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
<br><br>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 1  -->2 - Para o sucesso do produto por parte do Product Owner, ele deve estar as necessidades do ...?
            </p>
            <br>
        
            <div class="qt">
          
                <input name="qt2" class="radio_box" id="2alt1" type="radio" value=true> <span class="txt_qt"> do Negócio e do Mercado<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt2" class="radio_box" id="2alt2" type="radio" value=false> <span class="txt_qt"> do Master e do time de desenvolvimento <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt2" class="radio_box" id="2alt3" type="radio" value=false> <span class="txt_qt"> do mercado e dos concorrentes<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt2" class="radio_box" id="2alt4" type="radio" value=false> <span class="txt_qt"> do Product Owner e do cliente<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
<br><br>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 1  -->3 - Em um time scrum, qual o papel deve ter o maior conhecimento sobre o método Scrum?
            </p>
            <br>
        
            <div class="qt">
          
                <input name="qt3" class="radio_box" id="3alt1" type="radio" value=false> <span class="txt_qt"> Product Owner<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt3" class="radio_box" id="3alt2" type="radio" value=false> <span class="txt_qt"> Lider do time de desenvolvimento <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt3" class="radio_box" id="3alt3" type="radio" value=true> <span class="txt_qt"> Scrum Master<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt3" class="radio_box" id="3alt4" type="radio" value=false> <span class="txt_qt"> Gerenciador<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
<br><br>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 2  -->4 - Por que é bom e importante para um time de desenvolvimento ser composto por diferentes perfis profissionais como arquitetos, analistas, designers, desenvolvedores e testadores?
            </p>
            <br>
        
            <div class="qt">
                
                <input name="qt4" class="radio_box" id="4alt1" type="radio" value=true> <span class="txt_qt"> Para ter diferentes opiniões e pontos de vistas, além da experiência diversificada para trazer maior criatividade.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt4" class="radio_box" id="4alt2" type="radio" value=false> <span class="txt_qt"> Para cada um ficar na sua área e resolver os seus problemas. <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt4" class="radio_box" id="4alt3" type="radio" value=false> <span class="txt_qt"> Para não ter necessidade de interação já que cada um é especialista em sua área. <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt4" class="radio_box" id="4alt4" type="radio" value=false> <span class="txt_qt"> Para ter mais pessoas e quanto mais pessoas, mais produtividade.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
<br><br>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 2 -->5 - Em relação ao tamanho de um time de desenvolvimento, como deve ser feito o dimensionamento da equipe?
            </p>
            <br>     
            <div class="qt">
          
                <input name="qt5" class="radio_box" id="5alt1" type="radio" value=false> <span class="txt_qt">  O time deve ter no máximo 3 membros para manter a agilidade, pois acima disso fica difícil de gerenciar a equipe de desenvolvimento.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt5" class="radio_box" id="5alt2" type="radio" value=true> <span class="txt_qt"> Os times devem ser pequenos o suficiente de forma a se manter ágil e produtivo, e grande o suficiente de forma que a coordenação dos membros não cause problemas. <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt5" class="radio_box" id="5alt3" type="radio" value=false> <span class="txt_qt">  O time deve ter no mínimo 9 membros para manter poder dar conta de todas as tarefas, pois abaixo disso fica difícil de ser produtiva a equipe de desenvolvimento.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt5" class="radio_box" id="5alt4" type="radio" value=false> <span class="txt_qt"> O time deve ter 6 membros, nem mais nem menos, só pode ter esse número porque é o perfeito para ter um time equilibrado e ágil em todos sentidos.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
<br><br>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 2 -->6 - Sendo o Scrum Master o responsável em ser o que mais sabe sobre o metodo Scrum, como ele deve se comportar?
            </p>
            <br>       
            <div class="qt">
          
                <input name="qt6" class="radio_box" id="6alt1" type="radio" value=false> <span class="txt_qt"> Como lider do time mostrando o que dever ser feito.<!--ADICIONAR ALTERNATIVA AQUI--></span><br><br>
                <input name="qt6" class="radio_box" id="6alt2" type="radio" value=false> <span class="txt_qt"> Como gerenciador da equipe mostrando quais são os requisitos a serem feitos.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt6" class="radio_box" id="6alt3" type="radio" value=false> <span class="txt_qt"> Como pessoa que entra em contato com cliente para definir as ações a serem realizadas.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt6" class="radio_box" id="6alt4" type="radio" value=true> <span class="txt_qt"> Como agente de mudanças para que o restante da organização ajude a suportar Scrum.<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
<br><br>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 3 -->7 - Em relação aos processos de criação do produto, quem é responsável pelas pequenas tarefas diárias, pelo andamento das ações,qualidade,prazo entre outros fatores do microgerenciamento da produção do produto?
            </p>
            <br>
        
            <div class="qt">
          
                <input name="qt7" class="radio_box" id="7alt1" type="radio" value=false> <span class="txt_qt"> Scrum Master<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt7" class="radio_box" id="7alt2" type="radio" value=true> <span class="txt_qt"> Time de Desenvolvimento <!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt7" class="radio_box" id="7alt3" type="radio" value=false> <span class="txt_qt"> Gerenciador<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt7" class="radio_box" id="7alt4" type="radio" value=false> <span class="txt_qt"> Product Owner<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
<br><br>
    <div class="row">
        <div class="box_teste">
            <p class="txt_box">
                <!-- ADICIONAR PERGUNTA AQUI tema 3 --> 8 - Dentro de um time Scrum, o Product Owner é o responsável por gerenciar o produto de forma a assegurar o valor do trabalho executado pelo Development Team, o que torna esse papel muito importante para a equipe, sabendo disso quantos Product Owner podem ter dentro da equipe Scrum?
            <br>
        
            <div class="qt">
          
                <input name="qt8" class="radio_box" id="8alt1" type="radio" value=false> <span class="txt_qt"> Podem haver no máximo 2<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt8" class="radio_box" id="8alt2" type="radio" value=false> <span class="txt_qt"> Podem haver no máximo 3<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt8" class="radio_box" id="8alt3" type="radio" value=true> <span class="txt_qt"> Somente Um<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
                <input name="qt8" class="radio_box" id="8alt4" type="radio" value=false> <span class="txt_qt"> Não há uma quantidade limite<!-- ADICIONAR ALTERNATIVA AQUI --></span><br><br>
        
            </div>
        </div>
    </div>
        
<br><br>    
     
            <button type="submit" id="btn_exame"><span id="txt_btn_exame">Enviar</span></button>
        </form>


        <br><br><br><br><br>

{% endblock %}  