{% extends "baseteste.html" %}
{% block navbar %}
{% block title %}
<title> Exame Final </title>
{% endblock %}
{% block navtitle %}
    <b class="title">Exame Final</b>
{% endblock %}
{% endblock %}
{% block conteiner %}
<h1 style="text-align: center;"> Compreenção da Metodologia Scrum </h1>
<div class="content">
    <span class="spnQtd"></span>
    <span class="questions"></span>
    <div class="anwers"></div>
</div>
<script src="script.js" type="module"></script> 
<div class="finish">
    <span></span>
    <button>Reiniciar</button>
</div>
{% endblock %}