<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>Homepage</title>
</head>
<body class="bd_index">
    
    
<div class="title_box">
    <p class="title_txt"><b class="b_index">SCRUM ACADEMY</b></p>
</div>

<div class="cont_box">
    <p class="cont_txt">Nossa plataforma abrange o módulo de treinamento relacionado ao método <b class="b_index">Scrum</b>, um <b class="b_index">método ágil</b> responsável pelo desenvolvimento de projetos de maneira<b class="b_index"> flexível</b> e <b class="b_index">eficiente.</b>  </p>
</div>

<div class="box_index">
    <div>
        <button class="btn_cont_a"><a href="/conteudo1">Conteudo</a></button>
        <button class="btn_cont_b"><a>Exame</a></button>

    </div>
   <div class="div_geral_index">
        <div class="div_left_index">
            <p>Nesta área, você poderá conferir os conteúdos relacionados ao framework Scrum, em uma interface simples e intuitiva.</p>
                
                <p>Os conteúdos são divididos por capítulos incluindo diferentes tópicos, e ao final de cada um, serão disponibilizados testes para comprovar a fixação dos conceitos teóricos apresentados nos diferentes capítulos da plataforma.</p>
        </div>
        <div class="div_right_index">
            <p>Nesta área, você poderá conferir os conteúdos relacionados ao framework Scrum, em uma interface simples e intuitiva.</p>
                
            <p>Os conteúdos são divididos por capítulos incluindo diferentes tópicos, e ao final de cada um, serão disponibilizados testes para comprovar a fixação dos conceitos teóricos apresentados nos diferentes capítulos da plataforma.</p>

        </div>
    </div>

</div>




</body>
</html>