{% extends 'base.html' %}
{% block navbar %}
{% block title %}
<title> Kanban </title>
{% endblock %}

{% block navtitle %}
<b class="title">Capítulo 5 - Kanban</b>
{% endblock %}
<div id="page-content">
        <div class="links">
            <a href="#Agilidade">Kanban</a>
            <a href="#comousar">Como usar</a>
        </div>
    <div class="banner">
        <h1>KANBAN</h1>
    </div>

    <div class="content">
        <div id="Agilidade">
            <h1 class="content h1">Kanban</h1>
            <h3 class="content h3">"A melhor forma de orgazinar é ser ágil, simples e estratégico."</h3>

            &nbsp  &nbsp  &nbsp  &nbsp O Kanban é um termo de origem japonesa que significa "sinalização" ou "Cartão" e pode ser definido como um sistema de gestão de produção ou de tarefas que funciona de uma maneira visual e para isso ela propõe o uso de cartões(post-its) para indicar e acompanhar o andamento da produção do projeto.
        <br><br>
        <div id="kanban">
            <h3><b>Quais as vantagens que o Kanban vai trazer para o seu projeto?</b></h3>

            <li>Comunicação integrada</li>
            <li>Priorização de atividades</li>
            <li>Aumento da produtividade</li>
            <li>Estímulo do trabalho em equipe</li>
            <li>Controle sobre as atividades</li>
            <li>Flexibilidade do fluxo de trabalho</li>

        <br>
        &nbsp O Kanban traz essas vantagens ajudando a evitar a ociosidade e falta de saber o que deve ser feito, pois ela usa o aspecto visual para deixar bem claro e visível o que está sendo finalizado, o que foi finalizado e o que vai ser feito após a finalização das outras tarefas.
        </div>
    </div>
</div>

<div id="comousar">
        <h1 class="content h1">Mas como se usa o Kanban ?</h1>
    <ul>
        <li><b>1</b> - O grupo deve pegar o <b>Backlog</b> e <b>dividir as tarefas em listas</b> de áreas, por exemplo: <b>Documentação</b>, <b>HTML</b>, <b>CSS</b>, <b>Banco de Dados</b>, entre outras coisas. Assim irão ser divididas as listas por estilos de tarefas e em cada uma das lista vai ser feita um quadro para gerenciar elas, fazendo essa divisão ficar mais <b>clara e organizada</b> do que uma única lista.</li>
<br>
        <li><b>2</b> - Faça um <b>quadro</b> com 3 divisões em <b>colunas</b> para ser colocado as informações, vale ressaltar que pode ser feito tanto com papel quanto virtualmente, varia do que funciona melhor para cada grupo.</li>
<br>        
        <li><b>3</b> - A primeira coluna será a das <b>tarefas</b> que ainda não foram <b>mas precisam ser feitas</b>. Nela são colocadas <b>cartões (post-its)</b> com as tarefas do projeto para todos poderem visualizar.</li>
<br>        
        <li><b>4</b> - Na <b>segunda coluna</b> são colocada as tarefas que <b>já estão sendo feitas</b> no momento.</li>
<br>        
        <li><b>5</b> - Na <b>terceira coluna</b> são colocada as tarefas que <b>já foram finalizadas</b>.</li>
<br> 
    </ul>
    &nbsp  &nbsp  &nbsp  &nbsp Estas 3 colunas são usadas em cada uma das listas de tarefas para esclarecer tudo o que precisa ser feito, evitando ociosidade e orientando a produtividade.

</div>
</div>
</div>


    <div class="content">
        <div>
            <a href="/softskills" ><img class="seta" src="static/imagens/seta_esq.png" alt=""></a>            
        </div>
        <div>
            <a href="/planpok"><img class="seta" src="static/imagens/seta_dir.png" alt=""></a>
        </div>
    </div>

    
{% endblock %}
