{% extends 'base.html' %}
{% block navbar %}
{% block title %}
<title>MVP</title>
{% endblock %}
{% block navtitle %}
    <b class="title">Capítulo ? - MVP</b>
{% endblock %}
<div id="page-content">
    <div class="banner">
        <h1>MVP - Mínimo Produto Viável</h1>
    </div>
    <div id="corrido">
        <h1 id="PO" class="content h1">MVP </h1>
<h1 id="PO" class="content h1">"Sempre entregando cada vez mais valor."</h1>

<p>No mundo dos negócios existe um termo muito utilizado o MVP sigla para  Minimum Viable Product – ou Produto Mínimo Viável. Este termo muito usado em Startups de tecnologia que significa construir uma versão mais simples de um produto final usando o mínimo possível de recursos para entregar a principal proposta de valor da ideia. Desse modo já é entregue um produto que pode ser validado seu valor antes de seu lançamento final e já pode Retornar um valor financeiro.</p>

<h3 class="content h3"> Mas como isso se aplica ao Método Scrum? Como pode ser usado em produtos softwares?</h3>

<p>MVP,o Scrum e o software.</p>

<p>Na metodologia Scrum os eventos são dividos em periodos de entregas de requisitos que possuem valor para o cliente, essas divisões são as Sprints e em cada uma delas deve ser entregue algo de valor e é ai que começa a se encontrar os principios do Scrum com o MVP.

Com o Scrum os integrantes devem criar uma visão final do produto e como diz no método o que mais importante para o cliente é as coisas funcionando então ao ter uma visão final do produto deve se pensar no minimo que o produto que precisa ter para funcionar e atender o que se espera dele.

Então o MVP é utilizado em Software ao se pensar quanto o mínimo que o programa precisa ter para realizar as funções necessárias e entregar isso primeiro pois é o que possui mais valor ao longo das Sprints e após o objetivo principal estar que se vai pensando em coisas menos essências como estilos por exemplo.</p>


<h3 class="content h3">Sugetões de Como usar o MVP na prática de forma simples</h3>

<p>1)A primeira coisa que o grupo deve ter em mente é O QUE O PRODUTO DEVE SER RESOLVER? O Time Scrum através do Product Owner e sua interação com o clinete deve saber claramente Qual o objetivo do produto e qual vai ser sua função.</p>

<p>2)Sabendo qual o propósito do produto o grupo precisa ter em mente também uma visão final do produto, imaginar como ele vai ser quando estiver pronto, com isso se terá um norte para criar as ações que deverão ser feitas para chegar no produto final.</p>

<p>3)Com todas as visões em mente o grupo precisa pensar, qual o mínimo de funcionamento que o software precisa ter para já atender de alguma forma a nessecidade do cliente e já trazer retorno do seu Investimento? Um exemplo: O cliente precisa de um site de vendas, o mais importante é criar um site mesmo que com poucas coisas mas com as imagens do produto, o preço e um número de telefone pra contato, assim o cliente já vai poder vender mesmo que ele não esteja pronto, com isso já feito o grupo vai trabalhar em agregar mais valor ao produto com o aprimoramento e embelezamento do site.</p>

<p>4)Criando a ideia do mínimo que deve ser feito para ser entregue é hora de dividir as tarefas e colocar a mão na massa e começa a trabalhar no produto e buscar finalizar ele dentro da Sprint.</p>

<p>5)Com mínimo viável feito ele deve ser apresentado ao cliente explicando o conceito de já entregar algo mais simples que já atenda as necessidades e que conforme as outras sprints vão passando ele vai sendo aprimorado. Ao apresentar ao cliente ele dará um feedback e com isso se a resposta for positiva se mantém no trabalho e vai melhorando os processo caso contrário se o cliente desaprovar deve pegar as opiniõe válidas e mudar o projeto e após isso repetir o processo.</p>


    </div>
</div>
{% endblock %}