{% extends 'base.html' %}
{% block navbar %}
{% block title %}
<title>MVP</title>
{% endblock %}
{% block navtitle %}
    <b class="title">Capítulo 5 - MVP</b>
{% endblock %}
<div id="page-content">
    <div class="banner">
        <h1>MVP - Mínimo Produto Viável</h1>
    </div>
    <div id="corrido">
        <h1 class="content h1">MVP </h1>
        <h1 class="content h1">"Sempre entregando cada vez mais valor."</h1>

        &nbsp  &nbsp  &nbsp  &nbsp No mundo dos negócios existe um termo muito utilizado: o <b>MVP</b> sigla para <b>Minimum Viable Product</b> – ou Produto Mínimo Viável. Este termo muito usado em Startups de tecnologia que significa construir uma versão mais simples de um produto final usando o mínimo possível de recursos para entregar a principal proposta de valor da ideia. Desse modo já é entregue um produto que pode ser <b>validado</b> seu valor antes de seu <b>lançamento final</b> e já pode Retornar um valor financeiro.

        <h3 class="content h3">Como isso se aplica ao Método Scrum?</h3>

        <h3 id="mvp">MVP, o Scrum e o software.</h3>

        &nbsp  &nbsp  &nbsp  &nbsp Na metodologia <b>Scrum</b> os eventos são dividos em periodos de <b>entregas de requisitos</b> que possuem <b>valor</b> para o cliente, essas divisões são as <b>Sprints</b> e em cada uma delas deve ser entregue algo de valor e é ai que começa a se encontrar os principios do <b>Scrum</b> com o <b>MVP</b>.<br><br>

        &nbsp  &nbsp  &nbsp  &nbsp Com o <b>Scrum</b> os integrantes devem criar uma <b>visão final do produto</b> e como diz no método o que mais importante para o <b>cliente</b> é as coisas funcionando então ao ter uma visão final do produto deve se pensar no minimo que o produto que precisa ter para funcionar e atender o que se espera dele.<br><br>

        &nbsp  &nbsp  &nbsp  &nbsp Então o <b>MVP</b> é utilizado em <b>Software</b> ao se pensar quanto o mínimo que o programa precisa ter para realizar as <b>funções</b> necessárias e entregar isso primeiro pois é o que possui mais valor ao longo das <b>Sprints</b> e após o objetivo principal estar que se vai pensando em coisas menos essências como estilos por exemplo.<br><br>


        <h3 class="content h3">Sugetões de usos do MVP na prática</h3>

        <ol>
            <li>A primeira coisa que o grupo deve ter em mente é <b>"O QUE O PRODUTO DEVE SER RESOLVER?"</b> O <b>Time Scrum</b> através do <b>Product Owner</b> e sua interação com o cliente deve saber claramente <b>"Qual o objetivo do produto e qual vai ser sua função"</b>.</li><br>
            <li>Sabendo qual o <b>propósito do produto</b> o grupo precisa ter em mente também uma <b>visão final do produto</b>, imaginar como ele vai ser quando estiver pronto, com isso se terá um norte para criar as ações que deverão ser feitas para chegar no <b>produto final</b>.</li><br>
            <li>Com todas as visões em mente o <b>grupo</b> precisa pensar, qual o mínimo de funcionamento que o <b>software</b> precisa ter para já atender de alguma forma a <b>nessecidade do cliente</b> e já trazer <b>retorno</b> do seu <b>Investimento</b>? Um exemplo: O <b>cliente</b> precisa de um site de vendas, o mais importante é criar um <b>site</b> mesmo que com poucas coisas mas com as imagens do <b>produto</b>, o preço e um número de telefone pra contato, assim o <b>cliente</b> já vai poder vender mesmo que ele não esteja pronto, com isso já feito o grupo vai trabalhar em <b>agregar mais valor ao produto</b> com o aprimoramento e embelezamento do site.</li><br>
            <li>Criando a ideia do <b>mínimo</b> que deve ser feito para ser entregue é hora de <b>dividir as tarefas</b> e colocar a mão na massa e começa a <b>trabalhar no produto</b> e buscar finalizar ele dentro da <b>Sprint</b>.</li><br>
            <li>Com <b>mínimo viável</b> feito ele deve ser apresentado ao <b>cliente</b> explicando o conceito de já <b>entregar algo mais simples</b> que já atenda as necessidades e que conforme as outras <b>Sprints</b> vão passando ele vai sendo aprimorado. Ao apresentar ao <b>cliente</b> ele dará um <b>feedback</b> e com isso se a resposta for positiva se mantém no trabalho e vai <b>melhorando os processos</b>, caso contrário se o cliente desaprovar deve pegar as opiniõe válidas e mudar o projeto e após isso repetir o <b>processo</b>.</li><br>   
        </ol>
    </div>

    <div class="content">
        <div>
            <a href="/planpok" ><img class="seta" src="static/imagens/seta_esq.png" alt=""></a>            
        </div>
        <div>
            <a href="/examefinal"><img class="seta" src="static/imagens/seta_dir.png" alt=""></a>
        </div>
    </div>
</div>
{% endblock %}