{% extends 'base.html' %}
{% block navbar %}
{% block title %}
<title> Pilares do Scrum </title>
{% endblock %}

{% block navtitle %}
<b class="title">Capítulo 1 - Pilares</b>
{% endblock %}
<div id="page-content">
        <div class="links">
            <a href="#Agilidade">Agilidade</a>
            <a href="#Pilares">Pilares do scrum</a>
        </div>
    <div class="banner">
        <h1>PILARES</h1>
    </div>

    <div class="content">
        <div id="Pilares">
            <h1 class="content h1-1">Pilares do Scrum</h1>
            <h3 class="content h3">Transparência</h3>
            &nbsp  &nbsp  &nbsp  &nbsp A transparência é algo fundamental no Scrum, então todos os processos devem estar visíveis a todos os integrantes no processo de criação. Para esse processo ocorrer, o time deve estar com todas as definições em mente, como a Definição de Pronto(Definition of Done), que deve ser definida e compartilhada com o grupo para um entendimento mútuo.
<br><br><br><br><br><br>
            <h3 class="content h3">Inspeção e adaptação</h3>
            &nbsp  &nbsp  &nbsp  &nbsp É um método de controle empírico de processos, ou seja, testando e validando as teorias e hipóteses do projeto, ele deve ser inspecionado regularmente, seja para detectar problemas ou verificar o andamento do projeto.<br>&nbsp  &nbsp  &nbsp  &nbsp Quando a inspeção detectar algum problema ou melhoria para o processo, é necessário que se façam adaptações rápidas para manter ou elevar a produtividade do time e a qualidade do produto.

            <p>O Scrum possui Eventos para essa adaptação:</p>

            <ul>
                <li>Daily Scrum</li>
                <li>Sprint Planning Meeting</li>
                <li>Sprint Review</li>
                <li>Sprint Retrospective</li>
            </ul>

            As adaptações devem ser feitas sem qualquer nível hierárquico, para isso é necessária transparência entre os membros do time.
        </div>

        <div>
            <img id="imgInspecao" src="../static/imagens/InspecaoEAdaptacao.png">
            <iframe id="videopilar" width="560" height="315" src="https://www.youtube.com/embed/38rsuh5sIeA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>

    </div>
    <div class="content">
        <div>
            <a href="/definicoes"><img class="seta" src="static/imagens/seta_esq.png" alt=""></a>
        </div>
        <div>
            <a href="/exame1"><img class="seta" src="static/imagens/seta_dir.png" alt=""></a>
        </div>
    </div>

</div>
{% endblock %}
