{% extends 'base.html' %}
{% block navbar %}
{% block title %}
<title> Product Owner </title>
{% endblock %}
{% block navtitle %}
    <b class="title">Capítulo 2 - Product Owner</b>
{% endblock %}
    <title>Product Owner</title>
<div id="page-content">
    <div class="banner">
        <h1>PRODUCT OWNER</h1>
    </div>

    <div class="content">
        <div id="Scrum">
            <h1 id="PO" class="content h1">Product Owner</h1>
            <h3 class="content h3">"A arte de se comunicar com o Mercado."</h3>

            &nbsp  &nbsp  &nbsp  &nbsp O <b>Product Owner (P.O.)</b> é o responsável por direcionar a equipe de desenvolvimento (Dev Team) definindo as metas, a visão do produto, novos produtos e a ordem em que será feito. Também é seu papel fazer o <b>Backlog do Produto</b> e garantir o <b>Retorno Sobre o Investimento(Return Of Investment).</b> <br><br>
            &nbsp  &nbsp  &nbsp  &nbsp O <b>P.O.</b> deve assegurar o valor do trabalho feito pelo resto da equipe, para isso é necesário uma boa comunicação e transparência para deixar claro o significado de cada item do <b>Backlog</b> e os objetivos do projeto e das <b>Sprints.</b> <br><br>
            &nbsp  &nbsp  &nbsp  &nbsp Um bom <b>P.O.</b> é aquele que compreende bem as exigências do cliente e do mercado, assim tendo noção do que é importante tanto para o projeto quanto para sua equipe. <br><br>
            &nbsp  &nbsp  &nbsp  &nbsp Uma empresa pode fazer um comitê para catalogar novas funcionalidades para o produto, mas o <b>P.O.</b> ainda tem a função de definir se essa nova funcionalidade irá entrar no <b>Backlog do Produto</b> e quando será implementada. <br><br>
            &nbsp  &nbsp  &nbsp  &nbsp O <b>Product Owner</b> tem o poder de cancelar uma <b>Sprint</b> caso conclua que sua meta não faz mais sentido, porém, ele tem em mente dos impactos negativos dessa escolha sobre a equipe de desenvolvimento. <br><br>
            
                
        </div>
            <div>
                <img src="../static/imagens/scrum.png"><br>
                   
        </div>
    </div>


    <div class="content">
        <div>
            <h1 id="PO" class="content h1">Exemplo Prático</h1>
                
            &nbsp  &nbsp  &nbsp  &nbsp Será usado como exemplo para todos os papeis, o desenvolvimento de uma funcionalidade nova para um aplicativo de delivery fictício. <br> 
            &nbsp  &nbsp  &nbsp  &nbsp O PO de um aplicativo de delivery de comida percebe que a avaliação do app é baixa devido ao tempo de espera para entrega. <br>
            &nbsp  &nbsp  &nbsp  &nbsp Ele sugere que o time de desenvolvimento trabalhe em uma funcionalidade de rastreamento de entregas em tempo real e prioriza essa funcionalidade no topo do backlog. <br>
            &nbsp  &nbsp  &nbsp  &nbsp Ele testa a funcionalidade, dá feedback ao time e após algumas iterações, a funcionalidade é concluída e implementada no aplicativo. <br>
            &nbsp  &nbsp  &nbsp  &nbsp Os usuários adoram a nova funcionalidade e começam a dar avaliações mais positivas. <br>
            &nbsp  &nbsp  &nbsp  &nbsp O PO ficou satisfeito por ter trabalhado em uma funcionalidade de alto valor para os usuários e melhorado a avaliação do aplicativo.
        
        </div>
        <div>
            <br><br><br><br><br><br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/NVfza6wOxoU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>

        <div class="content">
            <div>
                <a href="/papeis" ><img class="seta" src="static/imagens/seta_esq.png" alt=""></a>            
            </div>
            <div>
                <a href="/sm"><img class="seta" src="static/imagens/seta_dir.png" alt=""></a>
            </div>
        </div>
</div>
{% endblock %}