{% extends 'base.html' %}
{% block navbar %}
{% block title %}
<title>Product Backlog</title>
{% endblock %}
{% block navtitle %}
    <b class="title">Capítulo 4 - Product Backlog</b>
{% endblock %}
<div id="page-content">
    <div class="banner">
        <h1>Product Backlog</h1>
    </div>
    <title>Product Backlog</title>
<div id="Scrum">
    <h1 id="PB" class="content h1">Product Backlog</h1>
    <h3 class="content h3">"Agregando mais valor ao produto."</h3>
        &nbsp  &nbsp  &nbsp  &nbsp <b>Product Backlog</b> é uma lista de itens priorizados que descrevem as <b>funcionalidades</b> e <b>requisitos</b> de um produto a ser desenvolvido em metodologias ágeis de desenvolvimento de software, como o
        <b>Scrum.</b> Tudo que estiver no backlog do produto é o que agrega valor ao produto, que representa valor para o cliente
        <br>
        Cada item é descrito por meio de <b>user stories</b>, que são narrativas curtas e simples que
        descrevem o que o usuário deseja e o que o produto deve fazer para atender a essa necessidade.

        <br><br>

        &nbsp  &nbsp  &nbsp  &nbsp  As <b>user stories</b> podem ser alteradas durante o projeto, já que a <b>metodologia ágil</b> prevê a adaptação
        às mudanças e necessidades do cliente. As user stories devem sempre constar na documentação do produto, mesmo que estejam em um arquivo separado, mas relacionado sempre ao backlog. Elas dizem por que cada item foi criado além de dar uma visão de quem usará esse recurso e para quê.
        <br>
        &nbsp  &nbsp  &nbsp  &nbsp Por isso, o <b>Product Backlog</b> é considerado um documento <b>vivo
        e dinâmico</b>, que pode ser atualizado a qualquer momento de acordo com as mudanças de prioridades
        e necessidades do cliente.
        <br>

        Essa flexibilidade permite que o produto final atenda de forma mais
        eficiente às <b>necessidades</b> e expectativas do cliente

        <br><br>

        &nbsp  &nbsp  &nbsp  &nbsp Além disso, é importante ressaltar que o <b>Product Owner</b> é responsável por gerenciar o <b>Product
        Backlog</b> e garantir que as alterações sejam feitas de forma estratégica e organizada, levando em
        consideração o <b>impacto</b> das mudanças nas entregas e no prazo do projeto.
        <br>
        &nbsp  &nbsp  &nbsp  &nbsp O objetivo é manter o
        <b>Product Backlog</b> sempre atualizado e alinhado com a visão e estratégia do produto, garantindo que o
        produto atenda às necessidades do cliente de forma eficaz.

    <h1 id="PB" class="content h1">Na prática:</h1>

    &nbsp  &nbsp  &nbsp  &nbsp Como todo artefato do scrum, o backlog não tem um padrão. Ele deve ser feito de forma que seja compreensível para todos do time, para o(s) cliente(s).
    <br>&nbsp  &nbsp  &nbsp  &nbsp Na hora de montar o backlog do seu produto, existem fatores a se levar em conta:
    <br> Ele deve ser:
    <ul>
   <li><b>Organizado:</b> Os itens devem ser ordenados pelo nível de prioridade</li>
    <li><b>Objetivo:</b> Deve ser fácil de entender</li>
   <li>
    <ul><li>Qualquer um que ver sua lista deve entender o que será entregue, e quando, e o nível de prioridade de cada coisa</li>
    </ul>
    </li>
     </ul>

        &nbsp &nbsp &nbsp &nbsp  Para fazer seu backlog podem ser usados diversos modelos:<br><br>
        <ul>
            <li><b>Roadmap:</b> Uma linha do tempo com as datas de entregas de cada sprint, com uma lista de coisas que será entregue em cada marcação. Isso dá uma maior noção da linha do tempo do desenvolvimento do produto.</li><br>
            <li><b>Planilha:</b> uma lista detalhada em forma de tabela, que separa os itens de valor que serão entregues em cada sprint. Os itens são indicados com ideias Macro, seguidas de uma descrição do que ela representa, geralmente com um campo para as histórias de usuário, testes e critérios de aceitação do item.</li><br>
            <li><b>Cards:</b> Forma menos detalhada e mais, visualmente, agradável de apresentar o seu backlog, é melhor para se usar em apresentações, onde o visual acaba sendo um fator importante.</li>
        </ul>
        <br><br>
        &nbsp &nbsp &nbsp &nbsp Você pode, se quiser, montar um modelo que seja mais específico e que seja mais fácil de entender, contanto que siga as orientações para um bom backlog.
        <br><br>
        &nbsp &nbsp &nbsp &nbsp Todo backlog de produto deve ser organizado por ordem de prioridade. Essa prioridade é deifinida como um consenso entre o P.O. e o time de desenvolvimento. A prioridade de cada item pode ser decidida com base em alguns critérios:
        <ul>
            <li>Tempo que demora para ser feita</li>
            <li>Nível de importância baseado no pedido do cliente</li>
            <li>Quanto esse item agrega valor</li>
        </ul>
        <br>
        &nbsp &nbsp &nbsp &nbsp A prioridade dos itens pode ser separada em alguns níveis, mas é recomendado separar em pelo menos 3 níveis, para facilitar a compreensão: Imprescendível, importante e "seria bom ter", por exemplo. Esses níveis podem ser marcados por cores ou símbolos.<br>
        &nbsp &nbsp &nbsp &nbsp Para que essa ordem fique clara, é importante ter uma legenda que indique o que representa cada nível de prioridade.<br><br><b>Ex.:</b> Em um um backlog, há itens marcados com as cores vermelho, amarelo e verde. Por uma lógica popular, alguém pode deduzir que os itens em vermelho são mais importantes. Mas quando se olha a legenda que explica a ordem de prioridade, você percebe que, na verdade, a ordem era "verde, amarelo, vermelho", com o verde sendo o mais importante.<br><br><b>Ex2.:</b>Em um backlog, os itens estão marcados com 4 símbolos: um polvo, um elefante, um gato e uma formiga. Vendo esse modelo, fica difícil dizer o que é mais, ou menos importante nessa lista, portanto não se sabe se a lista está realmente organizada.
        <br><br>
        &nbsp &nbsp &nbsp &nbsp Esses são alguns exemplos de modelos de backlogs que você pode seguir:
    </div>
</div>

<div class="content">
    <div id="modelo">
    <h1 class="content h1">Modelo:</h1>
    <ul>
    <li>Faça o download e confira um modelo de Product Backlog clicando no botão abaixo:</li>
    </ul>
    <br><br>
    <a class= "btn_down" href="https://www.smartsheet.com/sites/default/files/Agile-user-story-template-PT.xlsx?_ga=2.132724425.691243245.1685120698-2002649558.1685120698&_gl=1*fulcq*_ga*MjAwMjY0OTU1OC4xNjg1MTIwNjk4*_ga_ZYH7XNXMZK*MTY4NTEzMjQyNS4yLjAuMTY4NTEzMjQ0Mi40My4wLjA." download="productbacklog">Download</a>
</div>
</div>

    <div class="content">
        <div>
            <a href="/dorxdod" ><img class="seta" src="static/imagens/seta_esq.png" alt=""></a>
        </div>
        <div>
            <a href="/sprintback" ><img class="seta" src="static/imagens/seta_dir.png" alt=""></a>
        </div>
    </div>
</div>

{% endblock %}
