{% extends 'base.html' %}
{% block navbar %}
{% block title %}
<title>Product Backlog</title>
{% endblock %}
{% block navtitle %}
    <b class="title">Capítulo 4 - Product Backlog</b>
{% endblock %}
<div id="page-content">
    <div class="banner">
        <h1>Product Backlog</h1>
    </div>
    <title>Product Backlog</title>
    <div id="Scrum">
        <h1 id="PB" class="content h1">Product Backlog</h1>
        <h3 class="content h3">"Agregando mais valor ao produto."</h3>
        &nbsp  &nbsp  &nbsp  &nbsp <b>Product Backlog</b> é uma lista de itens priorizados que descrevem as <b>funcionalidades</b> e <b>requisitos</b> de um produto a ser desenvolvido em metodologias ágeis de desenvolvimento de software, como o
        <b>Scrum.</b> 
        <br>
        Cada item é descrito por meio de <b>user stories</b>, que são narrativas curtas e simples que
        descrevem o que o usuário deseja e o que o produto deve fazer para atender a essa necessidade.
        
        <br><br>

        &nbsp  &nbsp  &nbsp  &nbsp  As <b>user stories</b> podem ser alteradas durante o projeto, já que a <b>metodologia ágil</b> prevê a adaptação
        às mudanças e necessidades do cliente. 
        <br>
        &nbsp  &nbsp  &nbsp  &nbsp Por isso, o <b>Product Backlog</b> é considerado um documento <b>vivo
        e dinâmico</b>, que pode ser atualizado a qualquer momento de acordo com as mudanças de prioridades
        e necessidades do cliente. 
        <br>

        Essa flexibilidade permite que o produto final atenda de forma mais
        eficiente às <b>necessidades</b> e expectativas do cliente

        <br><br>

        &nbsp  &nbsp  &nbsp  &nbsp Além disso, é importante ressaltar que o <b>Product Owner</b> é responsável por gerenciar o <b>Product
        Backlog</b> e garantir que as alterações sejam feitas de forma estratégica e organizada, levando em
        consideração o <b>impacto</b> das mudanças nas entregas e no prazo do projeto.
        <br>
        &nbsp  &nbsp  &nbsp  &nbsp O objetivo é manter o
        <b>Product Backlog</b> sempre atualizado e alinhado com a visão e estratégia do produto, garantindo que o
        produto atenda às necessidades do cliente de forma eficaz.

        <h1 id="PB" class="content h1">Na prática:</h1>

        &nbsp  &nbsp  &nbsp  &nbsp <b>Retomando</b> o contexto de projeto do desenvolvimento de um <b>aplicativo</b>fictício de entregas apresentado no capítulo anterior, o <b>product</b> backlog faz-se um <b>ferramenta fundamental</b> para o Product Owner, a fim de documentar as user stories e listar todas as <b>funcionalidades</b> que serão desenvolvidas durante o percurso do projeto.
        O documento é atualizado periodicamente, acrescentando novos <b>requisitos</b> solicitados pelo <b>cliente</b> e classificando seu nível de prioridade e respectiva sprint como no exemplo abaixo: 

        <br><br><br>

        <table>
            <tr>
            <th><b>User Story</b></th>
            <th><b>Prioridade</b></th>
            <th><b>Sprint</b></th>
            <th><b>Esforço Estimado</b></th>
            </tr>
            <tr>
            <td>Eu, enquanto cliente, desejo uma função de visualizar a localização dos meus pedidos em tempo real, para ter uma estimativa do tempo restante de entrega.</td>
            <td>Essencial</td>
            <td>2</td>
            <td>21 horas</td>   
            </tr>
               </table>
    </div>
    <div class="content">
        <div>
            <img id="img" src="../static/imagens/productbacklog.png">
        </div>
    </div>
    <div class="content">
        <div>
            <a href="/dodxdor" ><img class="seta" src="static/imagens/seta_esq.png" alt=""></a>            
        </div>
        <div>
            <a href="/sprintback" ><img class="seta" src="static/imagens/seta_esq.png" alt=""></a>            
        </div>
    </div>
</div>

{% endblock %}