{% extends 'base.html' %}
{% block navbar %}
{% block title %}
<title> Release Planning Meeting </title>
{% endblock %}
{% block navtitle %}
    <b class="title">Capítulo 3 - Release Planning Meeting</b>
{% endblock %}
<div id="page-content">
        <div class="links">
            <a href="#SP">Sprints</a>
            <a href="#DS">Daily Scrum</a>
            <a href="#SR">Sprint Review</a>
        </div>
    <div class="banner">
        <h1>RELEASE PLANNING MEETING</h1>
    </div>

    <div class="content">
            <div></div>
            <div id="Agilidade">
                <h1 class="content h1">Release Planning Meeting</h1>
                &nbsp  &nbsp  &nbsp  &nbsp Ao final de uma Sprint, o Development Team entrega um <b>Incremento do produto</b>, que é algo
                <b>potencialmente entregável</b>.
                <br>
                &nbsp  &nbsp  &nbsp  &nbsp Entretanto, apesar de poder entrar imediatamente em produção, existem
                <b>situações em que isso é postergado para que seja feito somente na Release do produto</b>. 
                <br>
                &nbsp  &nbsp  &nbsp  &nbsp Um <b>Release</b>
                se trata de uma entrega do produto em desenvolvimento, sendo às vezes <b>necessário por questões
                contratuais</b>, eventos, roadmaps e necessidades de mercado.
                <br><br>
                &nbsp  &nbsp  &nbsp  &nbsp Releases, como partes ou demonstrações de um produto, podem ser <b>importantes para um rápido
                feedback</b>, evitando com que seja desenvolvido elementos desnecessários no produto e <b>rapidamente</b>
                corrigido erros ou desapontamentos por parte do cliente.
                <br><br>
                Essas Releases são planejadas na Release Planning Meeting, onde todo o <b>Time participa</b>. 
                <br>
                &nbsp  &nbsp  &nbsp  &nbsp Ela, por mais
                que pareça ser voltada <b>completamente a negócios</b>, ajuda o Time a <b>enxergar</b> melhor o produto em
                grupo e assim os fazendo seguir a mesma direção.  
                
                <br>
                &nbsp  &nbsp  &nbsp  &nbsp Este planejamento não tem um dia certo ou
                duração, podendo durar dias, mas vale pontuar que um maior tempo nem sempre é necessariamente
                melhor para esse momento. 
                
            </div>
           
        </div>
    
        </div>
    

    
        <div class="content">
            <div>
                <a href="/spret" ><img class="seta" src="static/imagens/seta_esq.png" alt=""></a>            
            </div>
            <div>
                <a href="/exame3"><img class="seta" src="static/imagens/seta_dir.png" alt=""></a>
            </div>
        </div>
        


        {% endblock %}
