{% extends 'base.html' %}
{% block navbar %}
{% block title %}
<title>Soft Skills</title>
{% endblock %}

{% block navtitle %}
<b class="title">Capítulo 5 - Soft Skills</b>
{% endblock %}
<div id="page-content">
    <div class="banner">
        <h1>SOFT SKILLS</h1>
    </div>
    <div class="content">
        <div id="corrido">
            <h1 class="content h1">O que são Soft Skills</h1>
            &nbsp  &nbsp  &nbsp  &nbsp As Soft Skills são habilidades comportamentais que cada pessoa adquire ao longo da vida, mostrando como cada pessoa é capaz de lidar com os outros de maneiras diferentes. Uma Soft Skill pode ser desenvolvida com prática, porém não será rápido.
        
            <h1 class="content h1">Soft Skills x Hard Skills</h1>
            &nbsp  &nbsp  &nbsp  &nbsp As Hard Skills e Soft Skills foram criadas no final da década de 1960 nos Estados Unidos, com origem militar. As Hard skills são capacitações técnicas que um profissional pode comprovar por meio de diplomas, certificados e qualificações.<br>
            
            &nbsp  &nbsp  &nbsp  &nbsp Já as Soft Skills são habilidades pessoais que não podem ser identificadas e nem comprovadas por meio de certificações, mas sim por convivência diária, bate-papo ou dinâmicas de grupo.

            <h1 class="content h1">Algumas Soft Skills</h1>

            &nbsp  &nbsp  &nbsp  &nbsp Essas são algumas das Soft Skills mais importantes na área da tecnologia:
            
           
        </div>            
    </div>



<div class="content">
    <div>

    </div>
    <div>

    </div>
</div>



    <div class="content">
        <div>
            <a href="/burndown" ><img class="seta" src="static/imagens/seta_esq.png" alt=""></a>            
        </div>
        <div>
            <a href="/kanban"><img class="seta" src="static/imagens/seta_dir.png" alt=""></a>
        </div>
    </div>
</div>
{% endblock %}