{% extends 'base.html' %}
{% block navbar %}
{% block title %}
<title>Soft Skills</title>
{% endblock %}

{% block navtitle %}
<b class="title">Capítulo 5 - Soft Skills</b>
{% endblock %}
<div id="page-content">
    <div class="banner">
        <h1>SOFT SKILLS</h1>
    </div>
    <div class="content">
        <div id="corrido">
            <h1 class="content h1">O que são Soft Skills</h1>
            &nbsp  &nbsp  &nbsp  &nbsp As Soft Skills são habilidades comportamentais que cada pessoa adquire ao longo da vida, mostrando como cada pessoa é capaz de lidar com os outros de maneiras diferentes. Uma Soft Skill pode ser desenvolvida com prática, porém não será rápido.
        
            <h1 class="content h1">Soft Skills x Hard Skills</h1>
            &nbsp  &nbsp  &nbsp  &nbsp As Hard Skills e Soft Skills foram criadas no final da década de 1960 nos Estados Unidos, com origem militar. As Hard skills são capacitações técnicas que um profissional pode comprovar por meio de diplomas, certificados e qualificações.<br>
            
            &nbsp  &nbsp  &nbsp  &nbsp Já as Soft Skills são habilidades pessoais que não podem ser identificadas e nem comprovadas por meio de certificações, mas sim por convivência diária, bate-papo ou dinâmicas de grupo.

            <h1 class="content h1">Algumas Soft Skills</h1>

            &nbsp  &nbsp  &nbsp  &nbsp Essas são algumas das Soft Skills mais importantes na área da tecnologia:
            
            <ul>
                <li><b>Vontade de aprender: </b>Importante para quem está no início de carreira e para quem já se estabeleceu na área. Em tecnologia, é preciso ter sempre vontade de aprender e se atualizar.</li>
                <li><b>Autonomia: </b>Conseguir tomar decisões e realizar o trabalho sem precisar sempre de aval da liderança.</li>
                <li><b>Espírito de colaboração: </b>Saber trabalhar em equipe e lidar com pessoas diferentes, seja dentro da área de tecnologia ou de uma área relacionada.</li>
                <li><b>Comunicação: </b>Saber se comunicar, defender ideias e interagir com os colegas.</li>
                <li><b>Inteligência emocional: </b> O autoconhecimento sobre suas características e a gestão das próprias emoções diante de situações que podem demandar uma atitude.</li>
                <li><b>Proatividade: </b>Habilidade para conseguir reagir a imprevistos, propondo soluções.</li>
                <li><b>Resiliência: </b>Conseguir se adaptar a mudanças e desafios.</li>
            </ul>

            <h1 class="content h1">Como saber suas Soft Skills</h1>

            &nbsp  &nbsp  &nbsp  &nbsp Segundo especialistas, não existe uma resposta pronta para essa pergunta, porém o primeiro passo para tentar descobrir é o autoconhecimento, pois é importante refletir sobre nossos comportamentos. Outra forma utilizada são os testes de perfil e personalidade, assim como a construção de uma matriz de competências.
        </div>            
    </div>
</div>
{% endblock %}