{% extends 'base.html' %}
{% block navbar %}
{% block title %}
<title> Sprint Retrospective </title>
{% endblock %}
{% block navtitle %}
    <b class="title">Capítulo 3 - Sprint Retrospective</b>
{% endblock %}
<div id="page-content">
        <div class="links">
            <a href="#SP">Sprints</a>
            <a href="#DS">Daily Scrum</a>
            <a href="#SR">Sprint Review</a>
        </div>
    <div class="banner">
        <h1>SPRINT RETROSPECTIVE</h1>
    </div>



    
    <div class="content">
            <div id="Agilidade">

                <h1 class="content h1">Sprint Retrospective</h1>
                &nbsp  &nbsp  &nbsp  &nbsp A Sprint Retrospective é a última reunião que ocorre após a Sprint Review, em que a equipe Scrum se
                reúne para <b>discutir o que funcionou bem durante a Sprint e o que poderia ser melhorado</b>. 
                <br>
                &nbsp  &nbsp  &nbsp  &nbsp O objetivo
                é <b>identificar oportunidades de melhoria e tomar medidas para implementá-las na próxima Sprint</b>. 
                <br>
                &nbsp  &nbsp  &nbsp  &nbspÉ
                importante que cada membro do Time Scrum <b>esteja aberto a ouvir críticas e não levar isso para um
                lado pessoal</b>, mas como uma forma de melhorar o próprio desempenho.
                
            </div>
            <div>
                <img id="img" src="../static/imagens/SprintRetrospective.svg">
            </div>
    </div>
    
        <div class="content">
            <div>
                <a href="/papeis" ><img class="seta" src="static/imagens/seta_esq.png" alt=""></a>            
            </div>
            <div>
                <a href="/replame"><img class="seta" src="static/imagens/seta_dir.png" alt=""></a>
            </div>
        </div>
        


        {% endblock %}
