{% extends 'base.html' %}
{% block navbar %}
{% block title %}
<title> Sprint Review </title>
{% endblock %}
{% block navtitle %}
    <b class="title">Capítulo 3 - Sprint Review</b>
{% endblock %}
<div id="page-content">
        <div class="links">
            <a href="#SP">Sprints</a>
            <a href="#DS">Daily Scrum</a>
            <a href="#SR">Sprint Review</a>
        </div>
    <div class="banner">
        <h1>SPRINT REVIEW</h1>
    </div>
    
    <div class="content">
            <div>
                <img src="../static/imagens/scrum_master.png">
            </div>
            <div id="SR">
                <h1 class="content h1">Sprint Review</h1>
                &nbsp  &nbsp  &nbsp  &nbsp A Sprint Review é uma reunião realizada no final de cada Sprint para que o Development Team
                apresente o trabalho realizado e o Product Owner <b>forneça feedback</b>, analisando o que funcionou ou
                não e os <b>problemas enfrentados</b>.
                <br>
                &nbsp  &nbsp  &nbsp  &nbsp O objetivo é garantir que o trabalho realizado esteja <b>alinhado com
                as expectativas do cliente</b> e do Product Owner e que o Product Backlog seja <b>atualizado</b> com base no
                fe
                
            </div>
    
        </div>
        <div class="content">
            <div>

            </div>
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/av2LjK7B74c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div>

            </div>

        </div>

        <div class="content">
            <div>
                <a href="/daily" ><img class="seta" src="static/imagens/seta_esq.png" alt=""></a>            
            </div>
            <div>
                <a href="/spret"><img class="seta" src="static/imagens/seta_dir.png" alt=""></a>
            </div>
        </div>
        


        {% endblock %}
