{% extends 'base.html' %}

{% block navbar %}
{% block title %}
<title>BOA!</title>
{% endblock %}

{% block navtitle %}
<b class="title">Parabéns!</b>
{% endblock %}

<div id="page-content">
    <div class="banner">
        <h1>Você acertou {% print(acertos) %} de 12 questões!</h1>
    </div>
    <div class="content">
        &nbsp  &nbsp  &nbsp  &nbsp Meus parabéns, você acertou 10 ou mais questões e mostrou que está apto a utilizar a metodologia Scrum no dia a dia. No botão abaixo, você será direcionado para a página de avaliação de equipe, onde você irá avaliar o desenpenho coletivo em Processo, Produto e Conhecimento. Você irá avaliar também a sua equipe, sendo uma nota para o Product Owner, uma para o Scrum Master e uma para o Time de Desenvolvimento.
    </div>
    <div class="div_btns_index">
        <a id="btn_avaliacao" href="/avaliacao">Avaliação</a>
    </div>
    <br><br><br><br><br><br><br><br>
</div>

{% endblock %}
