{% extends 'base.html' %}

{% block navbar %}
{% block title %}
<title>BOA!</title>
{% endblock %}

{% block navtitle %}
<b class="title">Parabéns!</b>
{% endblock %}

<div id="page-content">
    <div class="banner">
        <h1>Você acertou {% print(acertos) %} de 12 questões!</h1>
    </div>
    <div class="content">
        &nbsp  &nbsp  &nbsp  &nbsp Meus parabéns, você acertou 10 ou mais questões e mostrou que está apto a utilizar a metodologia Scrum no dia a dia, porém é sempre bom relembrar alguns conceitos básicos da metodologia, então se quiser você pode dar uma relembrada no conteúdo aqui.
    </div>
    botão
</div>
{% endblock %}
