@import url('https://fonts.googleapis.com/css2?family=Livvic&display=swap');

body {
  font-family: 'Livvic', sans-serif;
}

/* Página Base */

#nav{
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0px;
    top: 0px;
    background: #8121A6;
    text-align: center;
}
#txtnav{
    position: absolute;
    width: 244px;
    height: 65px;
    left: 40%;
    top: 20%;
    
    font-family: 'Livvic';
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    line-height: 80%;
    
    
    color: #FFFFFF;
}
#menu{
    position: absolute;
    width: 110px;
    height: 105px;
    left: 1%;
    top: 10px;

    background: url(menu.png);
}

#home{
    position: absolute;
    width: 105px;
    height: 105px;
    right: 1%;
    top: 10px;

    background: url(home.png);
}

/* fim da pagina base */


/* pagina inicial (index)*/
  
.bd_index{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(85,15,113,1) 53%, rgba(171,27,227,1) 100%);

    z-index: 1;

}
.title_box{
    margin-top:3% ;
    margin-left: 5%;

}

.title_txt{
    font-size:450% ;
}

.cont_box{
    margin-top: 1%;
    margin-left: 5%;

}

.cont_txt{
    font-size: 150%;
    max-width: 30%;
    color: #FFFFFF;
}

.box_index{
    background-color: #FFFFFF;
    margin-top: 25%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;    
}

.btn_cont_a{
    background-color: #AB1BE3;
    color: white;
    padding: 6% 15%;
    border-radius: 300px;
    border: none;
    font-size: 200%;
    margin-top: 4%;
    margin-left: 5%;
}
.btn_cont_b{
    background-color: #AB1BE3;
    color: white;
    padding: 6% 15%;
    border-radius: 300px;
    border: none;
    font-size: 200%;
    margin-top: 4%;
    margin-left: 12%;
}

.div_geral_index{
    display: flex;
    justify-content: space-between;
}


.div_right_index{
 
    width: 100%;

    margin-right: 5%;
    max-width:35% ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 140%;
}



.div_left_index{
    display: inline-flex;
    width: flex;
    margin-left: 7%;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 140%;

}




.b_index{
color: #FFFFFF;
}


/* fim da pagina inicial */


/* pagina 3 de conteudo */

.sub_header_links{
    display: flex;
    justify-content: center;
}
a {
    color: #550F71; 
    text-decoration: none; 
    font-size: 140%
}
      
a:hover {
    color: #AB1BE3; 
}

.shlt{
    margin-left: 5%;
    margin-right: 5%;
}  

.box{
    border-radius: 10px;
    padding: 20px;
    background-color: #d181f0;
    margin-top: 2%;
  
    display: flex;
    justify-content: center;
    margin-left:4%;
    margin-right:4%;
    
}

.box_txt{
font-size:300%;
color: aliceblue
}

.txt_topicos{
    margin-left:6%;
    color: #8121A6;
    font-size: 280%;
}

.txt_basico{
    margin-left: 6%;
    max-width: 50%;
    font-size: 130%;
}

.hr_int{
    width: 92%;
    border-color: #dfc7e8;
    background-color: #dfc7e8;
}

.img{
    width: 120%;
}


.div_geral{
    display: flex;
    justify-content: space-between;
}


.div_right{
 
    width: 50%;
    margin-left: 2;
    margin-right: 10%;
    max-width:30% ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.div_left{
    display: inline-flex;
    width: flex;
    margin-left: 6%;
    margin-right: 20%;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#div_a {
    margin-top: 2%;
}

b_c3{
    color:#AB1BE3 ;
}

.div_txt {
    align-self: flex-start;
    margin-top: 2%;
}

.seta{
    width: 2.5%;
}


/*fim da pagina 3 de conteudo*/