@import url('https://fonts.googleapis.com/css2?family=Livvic&display=swap');

body {
  font-family: 'Livvic', sans-serif;
}

/* Página Base */

#nav{
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0px;
    top: 0px;
    background: #8121A6;
    text-align: center;
}
#txtnav{
    position: absolute;
    width: 244px;
    height: 65px;
    left: 40%;
    top: 20%;
    
    font-family: 'Livvic';
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    line-height: 80%;
    
    
    color: #FFFFFF;
}
#menu{
    position: absolute;
    width: 110px;
    height: 105px;
    left: 1%;
    top: 10px;

    background: url(menu.png);
}

#home{
    position: absolute;
    width: 105px;
    height: 105px;
    right: 1%;
    top: 10px;

    background: url(home.png);
}

/* fim da pagina base */


/* pagina 3 de conteudo */

.sub_header_links{
    display: flex;
    justify-content: center;
}
a {
    color: #550F71; 
    text-decoration: none; 
    font-size: 140%
}
      
a:hover {
    color: #AB1BE3; 
}

.shlt{
    margin-left: 5%;
    margin-right: 5%;
}  

.box{
    border-radius: 10px;
    padding: 20px;
    background-color: #d181f0;
    margin-top: 2%;
  
    display: flex;
    justify-content: center;
    margin-left:4%;
    margin-right:4%;
    
}

.box_txt{
font-size:300%;
color: aliceblue
}

.txt_topicos{
    margin-left:6%;
    color: #8121A6;
    font-size: 280%;
}

.txt_basico{
    margin-left: 6%;
    max-width: 50%;
    font-size: 130%;
}

.hr_int{
    width: 92%;
    border-color: #dfc7e8;
    background-color: #dfc7e8;
}

.img{
    width: 120%;
}


.div_geral{
    display: flex;
    justify-content: space-between;
}


.div_right{
    display: inline-flex; 
    width: 50%;
    margin-left: 2;
    margin-right: 10%;
    max-width:30% ;
}

.div_left{
    display: inline-flex;
    width: flex;
    margin-left: 6%;
    margin-right: 20%;
    max-width: 20%;

}

#div_a {
    margin-top: 2%;
}

.

/*fim da pagina 3 de conteudo*/