@import url('https://fonts.googleapis.com/css2?family=Livvic&display=swap');
body{
    margin: 0;
    font-family: 'Livvic';
    font-size: 16px;
}

p{
    margin-left: 5%;
}

a{
    text-decoration: none;
}

b{
    color: #8121A6;
}
/*Classes*/
.title{
    color: white;
    font-size: 40px;
    font-family: 'Livvic';
    font-style: italic;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: #8121A6;
}

.element{
    margin-left: 0.75%;
    margin-right: 0.75%;
    margin-top: auto;
    margin-bottom: auto;
}

.links{
    display: flex;
    justify-content: space-around;
    font-family: 'Livvic';
    color: #550F71;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96%;
    height: 170px;
    margin-top: 4%;
    margin-left: 2%;
    border-radius:7px;
    font-family: 'Livvic';
    font-size: 26px;
    font-style: italic;
    color: white;
    background-color: #d181f0;
}

.content{
    display:flex;
    justify-content: space-between;
    margin: 5%;
}

.content.h1{
    display: flex;
    justify-content: center;
    color: #8121A6;
    font-family: 'Livvic';
    font-size: 60px;
    font-style: italic;
}

.content.h1-1{
    display: flex;
    /*justify-content: center;*/
    color: #8121A6;
    font-family: 'Livvic';
    font-size: 60px;
    font-style: italic;
}

.content.h3{
    display: flex;
    margin-left: 10%;
    margin-bottom: 2%;
    color: #8121A6;
    font-family: 'Livvic';
    font-size: 45px;
    font-style: italic;
}

.content li{
    color: #8121A6;
    font-size: 20px;
    font-family: 'Livvic';
}

/*IDs*/
#sidebar.open{
    transform: translateX(250px);
}

#sidebar{
    /*cor*/
    background-color: #c03ff3;
    /*dimensões e posição*/
    width: 250px;
    height: 100%;
    padding: 0%;
    position: fixed;
    left: -250px;
    /*fonte*/
    font-family: 'Livvic', sans-serif;
    color: white ;
    /**/
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

#sidebar li{
    color: white;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 7%;
}

#sidebar h2{
    margin-left: 7%;
}

#sidebar-toggle{
    border: none;
    background-color: transparent;
    padding: 0;
}

#Agilidade{
    width: 50%;
    height: auto;
}

#Scrum{
    width: 55%;
    height: auto;
}

#Pilares{
    width: 55%;
    height: auto;
}

#img{
    width: 406px;
    height: 406px;
}

#imgInspecao{
    margin-top: 90%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

hr{
    width: 95%;
}

.seta{
    width:50%;
}

A {
    text-decoration: none;
}

/* link que ainda não foi visitado */
a:link {
    color: #AB1BE3;
 }

 /* link que foi visitado */
 a:visited {
     color: #AB1BE3;
 }

 /* mouse over */
 a:hover {
     color: #8121A6;
 }

 /* link selecionado */
 a:active {
     color: #AB1BE3;
 }

/* pagina inicial (index)*/

.bd_index{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(85,15,113,1) 53%, rgba(171,27,227,1) 100%);

    z-index: 1;

}
.title_box{
    margin-top:3% ;
    margin-left: 5%;

}

.title_txt{
    font-size:450% ;
}

.cont_box{
    margin-top: 1%;
    margin-left: 5%;

}

.cont_txt{
    font-size: 150%;
    max-width: 30%;
    color: #FFFFFF;
}

.box_index{
    background-color: #FFFFFF;
    margin: 7%;
    justify-content: space-between;
}

a.btn_cont_a{
    background-color: #AB1BE3;
    color: white;
    padding: 5%;
    border-radius: 70px;
    border: none;
    font-size: 300%;
}
a.btn_cont_b{
    background-color: #AB1BE3;
    color: white;
    padding: 5%;
    border-radius: 70px;
    border: none;
    font-size: 300%;
}

.div_geral_index{
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
    padding-bottom: 3%;

}

.div_btns_index{
    display: flex;
    justify-content: space-around;
}

.div_right_index{

    width: 100%;

    margin-right: 5%;
    max-width:35% ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 140%;
}



.div_left_index{
    display: inline-flex;
    width: flex;
    margin-left: 7%;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 140%;

}




.b_index{
color: #FFFFFF;
}

.img_rig{
    width: 70%;
    margin-left:30% ;
}

/* fim da pagina inicial */
/* Estilo do Exame Final */

.answers{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.spnQtd{
    text-align: end;
}

/* button {
    width: 100%;
    text-align: start;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #8121A6;
    color: white;
} */

.finish{
    display: none;
    flex-direction: column;
    gap: 10px;
}

.finish button{
    text-align: center;
}

.box_teste{
    background-color: #c9a2d8;
    border-radius: 10px;
    align-items: center;
    width: 66%;
    margin-left: 17%;
    margin-right: 35%;
}


.txt_box{
    text-align: justify;  
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 150%;
    margin-right: 5%
}

.txt_qt{
    text-align: justify;
    font-size: 150%;  

}

.qt{
    margin-left: 5%;
    margin-bottom: 7%;
}

/* Estilizando o input radio */
input[type="radio"] {
    /* -webkit-appearance: none;
    -moz-appearance: none; */
    appearance: none;
    display: inline-flex;
    justify-content: center;
    width: 17px; /* Largura do elemento */
    height: 17px; /* Altura do elemento */
    border-radius: 50%; /* Forma circular */
    background-color: #e8d2fa;
    border: 2px solid #e8d2fa; /*Borda do elemento*/
  }
  
  /* Estilizando a bolinha selecionada */
  input[type="radio"]:checked {
    background-color: rgb(191, 127, 252); /* Cor de fundo da bolinha selecionada */
    transform: scale(1.1);
    transition: 0.3s ease-in-out /* Aumenta o tamanho da bolinha em 1.5 vezes */
  }

#btn_exame {
    margin-left: 40%;
    width: 20%;
    padding-top: 2%;
    text-align: center;
    border-radius: 50px; /* Define o raio das bordas para obter o efeito arredondado */
    display: flex; /* Ativa o flexbox */
    justify-content: center; /* Alinha horizontalmente o conteúdo ao centro */
    align-items: center; /* Alinha verticalmente o conteúdo ao centro */
}